.modality-cube-wrap {
  // perspective: 2000px;
  // perspective-origin: 50% 50%;
  margin-top: 40px;
  width: 153px;
  height: 130px;
  position: relative;
  .hexagon {
    position: absolute;
    width: 170px;
    height: 98.15px;
    margin: -7px 0 0;
    background-size: auto 197.2991px;
    background-position: center 53%;
  }

  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 120.21px;
    height: 120.21px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 24.9px;
  }

  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: '';
    position: absolute;
    width: 170px;
    height: 98.14954576223639px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }

  .hexTop {
    top: -60.1041px;
  }

  .hexTop:after {
    background-position: center top;
  }

  .hexBottom {
    bottom: -60.1041px;
  }

  .hexBottom:after {
    background-position: center bottom;
  }

  .hexagon:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 170px;
    height: 98.1495px;
    z-index: 2;
    background: inherit;
  }

  .hexagon-bg {
    z-index: 5;
    opacity: 0;
    transition: opacity 1.2s;
    position: absolute;
    top: 0;
    .label,
    .stats {
      z-index: 3;
      color: #fff;
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      transition: transform 0.4s, opacity 0.4s;
      transition-delay: 0s;
      transform: translateY(45px);
      margin-top: -20px;
      opacity: 0;
      font-weight: 600;
      font-size: 19px;
    }
    .stats {
      font-size: 16px;
      transform: translateY(75px);
      flex-direction: column;
    }
  }
}
.hexagon-img {
  position: absolute;
  top: 0;
}

.modality-cube {
  margin: 0;
  position: relative;
  height: 115px;
  width: 115px;
  transform-style: preserve-3d;
  transform: scale3d(1.05, 1.04, 1.04) rotateX(-36deg) rotateY(-45deg)
    rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
  z-index: 4;

  > div {
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #000;
    font-weight: bold;
    &.front {
      transform: translateZ(22px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;

      span.label {
        color: #fff;
      }
    }
    &.top {
      transform: rotateX(-270deg) translateY(-93px);
      transform-origin: top center;
      background-color: rgba(0, 0, 0, 0.4);
    }
    &.right {
      transform: rotateY(-270deg) translateX(94px);
      transform-origin: top right;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.modality-cube-wrap:hover {
  .hexagon-bg {
    opacity: 1;
    .label,
    .stats {
      transform: translateY(15px);
      transition: transform 0.8s, opacity 0.8s;
      transition-delay: 0.9s;
      opacity: 1;
    }
    .stats {
      transform: translateY(55px);
      transition-delay: 1.4s;
    }
  }
}

.cube-wrap {
  // position: absolute;
  // right: 0;
  // width: 680px;
  // margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .cube-block {
    width: 170px;
    height: 240px;
    position: relative;
    &:nth-child(3n + 2) {
      margin: 0 30px;
    }
    &:first-child {
      left: -5px;
      top: 30px;
      position: relative;
    }
    &:nth-child(2) {
      left: -5px;
      top: -5px;
    }
    &:nth-child(3) {
      top: 60px;
      left: 5px;
    }
    &:nth-child(4) {
      left: 80px;
      top: -25px;
    }
    &:nth-child(5) {
      left: 55px;
      top: -35px;
    }
    &:nth-child(6) {
      left: 5px;
      top: 80px;
    }
    &:nth-child(7) {
      left: 160px;
      top: -85px;
    }

    &:last-child {
      left: 155px;
      top: -30px;
      margin-right: auto;
    }
    @media (max-width: 1400px) {
      &:first-child {
        left: 112px;
      }
      &:nth-child(2) {
        left: 70px;
      }
      &:nth-child(3) {
        left: 25px;
      }
      &:nth-child(4) {
        left: 40px;
        top: -5px;
      }
      &:nth-child(5) {
        left: 30px;
        top: -25px;
      }
      &:nth-child(6) {
        left: -5px;
        top: 50px;
      }
      &:nth-child(7) {
        left: 80px;
      }

      &:last-child {
        left: 95px;
        top: -30px;
      }
    }
  }
}
