@import '../scss/variables';

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
  font-family: sans-serif;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  backface-visibility: hidden;

  &::after {
    content: '';
    display: block;
    padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
  }
}
.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);

  > div {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
    .img {
      position: absolute;
      visibility: visible;
      outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */

      .modality-cube {
        height: 60%;
        width: 69%;
        margin: 20px 0 0;
        z-index: 1000;
        position: relative;
        visibility: visible;
        transform-style: preserve-3d;
        transform: scale3d(1.05, 1.04, 1.04) rotateX(-36deg) rotateY(-45deg)
          rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
        > .front,
        > .top,
        > .right {
          position: absolute;
          box-sizing: border-box;
          text-align: center;
          height: 100%;
          width: 100%;
          color: #000;
          font-weight: bold;
          opacity: 1;
          transition: opacity 0.8s;
        }
        > .front {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          transform: translate3d(-30px, 93px, 0);
          span.label {
            color: #fff;
          }
        }
        > .top {
          transform-origin: top center;
          background-color: rgba(0, 0, 0, 0.1);
          transform: rotateX(-270deg) translate3d(62px, -69px, 0);
        }
        > .right {
          transform-origin: top right;
          background-color: rgba(0, 0, 0, 0.4);
          transform: rotateY(-270deg) translate3d(130px, 64px, 0);
        }
      }
    }
  }
  > div .img .modality-cube > .front {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      opacity: 0;
      transition: opacity 0.6s;
    }
    &:before {
      background: rgb(13 255 0);
    }

    .content1,
    .content2 {
      width: 100%;
      box-sizing: border-box;
      font-weight: 300;
      opacity: 0;
      padding: 0 5px;
      position: absolute;
      top: 0;
    }

    .content1,
    .content2 {
      color: #fff;
      text-align: center;
      z-index: 1;
      margin: 0;
      font-weight: 600;
    }
    .content1 {
      transform: translateY(120px);
    }

    .content2 {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
      transform: translateY(150px);
    }
  }
}

.hexIn:hover,
.hexIn:focus {
  .content1,
  .content2 {
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
  }

  .content1 {
    transform: translateY(80px);
  }
  .content2 {
    transform: translateY(120px);
  }

  > div .img .modality-cube {
    .front,
    .top,
    .right {
      opacity: 0;
      transition: 0.8s;
    }
  }
  .img:before,
  .img:after {
    opacity: 1;
    transition: 0.5s;
  }
}

#hexGrid {
  padding: 40px 0 7.4%;
}
.hex {
  width: 30%;
}

.mri-cube > div .img {
  &:before {
    background-color: $mri-theme;
  }
  .modality-cube > .front {
    background-color: $mri-theme;
  }
}
.eeg-cube > div .img {
  &:before {
    background-color: $eeg-theme;
  }
  .modality-cube > .front {
    background-color: $eeg-theme;
  }
}

.pet-cube > div .img {
  &:before {
    background-color: $pet-theme;
  }
  .modality-cube > .front {
    background-color: $pet-theme;
  }
}
.ieeg-cube > div .img {
  &:before {
    background-color: $ieeg-theme;
  }
  .modality-cube > .front {
    background-color: $ieeg-theme;
  }
}

.meg-cube > div .img {
  &:before {
    background-color: $meg-theme;
  }
  .modality-cube > .front {
    background-color: $meg-theme;
  }
}
