@import '../scss/variables';
header {
  position: relative;
}

.header-upload-btn {
  display: flex;
  align-items: center;
  background: #eee;
  padding: 10px 10px 10px 20px;
  border-radius: $border-radius-default;
  button.on-no-background.icon-text {
    color: $on-dark-aqua;
    margin: 5px 20px 0;
    font-size: 16px;
  }
}

.navbar-inner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
  background-color: $on-dark-aqua;
  background: linear-gradient(
    69deg,
    darken($on-dark-aqua, 5%),
    adjust-color($on-dark-aqua, $lightness: 8%)
  );

  position: relative;
  z-index: 100;
}
.svg-fill-on-dark-aqua {
  fill: $on-dark-aqua;
}

.swoop-hide-overflow {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 330px;
  bottom: 0;
}

.header-swoop {
  background: $on-dark-aqua;
  width: calc(100% + 104vw);
  height: 330px;
  border-radius: 100%;
  margin: 0 0 0 -26vw;
  position: absolute;
  transform: scale(1.05) rotate(-2deg);
  z-index: 2;
  bottom: 81px;
}

.navbar-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      margin: 0 10px -10px;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      a,
      span {
        color: #f4f4f4;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;

        &:after {
          transition: width 0.5s;
          content: '';
          border-bottom: 2px solid #fff;
          width: 0;
          display: block;
          transition: width 0.3s;
          margin-top: 10px;
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
        &.active {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

#orcid-info-accordion {
  .accordion-title {
    color: $on-dark-aqua;
    color: darken($on-dark-aqua, 5%);
    text-decoration: underline;
    font-size: 12px;
    justify-content: flex-end;
    margin: 10px 20px 0 0;

    &:after {
      content: none;
    }
  }
  .accordion-content {
    padding: 20px;
    font-size: 12px;
  }
}

.navbar-account {
  flex-basis: 300px;
  display: flex;
  justify-content: flex-end;
}

.expaned-header {
  min-width: 100%;
}

.sign-in-modal .modal {
  flex-basis: 730px;
}
.sign-in-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 18px;
  }
}
.sign-in-modal-content {
  display: flex;
  justify-content: space-between;
  > div {
    flex-basis: 50%;
    max-width: 50%;
    margin: 0 10px 0 0;
    &:last-child {
      margin: 0 0 0 10px;
    }
  }
  button {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}

.hero-signin {
  margin: 20px 8px 0;
  align-items: center;
  > div {
    margin-right: 60px;
  }
  h4 {
    color: #fff;
    margin: 0;
  }
}

.expaned-header {
  h2 {
    font-weight: 300;
    color: #fff;
    font-size: 29px;
    max-width: 90%;
    a {
      font-weight: 600;
      color: $on-light-aqua;
    }
  }
  .expaned-h-left {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    .hero-signin {
      margin-top: auto;
      margin-bottom: 30px;
    }
    .header-aggregate {
      display: flex;
      justify-content: space-between;
      max-width: 90%;
      .aggregate-count {
        color: #fff;
        font-size: 23px;
        span {
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: $screen-lg) {
    .expaned-h-left,
    .cube-wrap {
      flex-basis: 90%;
      max-width: 90%;
      margin: 0 auto;
      h2 {
        width: auto;
      }
    }
  }
}

.header-input-wrap {
  width: 90%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  .header-input {
    flex-grow: 1;
    input {
      width: 100%;
      padding: 13px 16px 14px;
    }
  }
  .header-input-button {
    width: 55px;
    margin-left: 15px;
    button.on-button--primary {
      background-color: $on-light-aqua;
      max-width: 100%;
      padding: 17px;
    }
  }
}

.header-or-text {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.header-modality-wrap {
  width: 90%;
  margin: 60px 0 20px;
  .facet-accordion.on-accordion-wrapper .accordion-title {
    padding: 15px 0;
  }
}

.freshdesk-support {
  .modal {
    min-width: 770px;
  }
  .modal-body {
    margin-top: 30px;
  }
}
