@import '../variables.scss';

.version-dropdown {
  .toggle {
    .fas {
      margin-left: 5px;
    }
    .fa-chevron-up {
      display: none;
    }
    .fa-chevron-down {
      display: inline;
    }
    &.active {
      .fa-chevron-up {
        display: inline;
      }
      .fa-chevron-down {
        display: none;
      }
    }
  }
}
.version-list-dropdown {
  ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li a {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $newspaper;
      text-decoration: none;
      &.selected {
        background-color: #f4f4f4;
      }
      span {
        .active {
          color: $on-light-green;
          margin-left: 5px;
        }
        .deprecated {
          color: $on-light-red;
          font-weight: 300;
          padding-left: 15px;
        }
      }
    }
  }
  .label {
    font-weight: 600;
  }
}

.version-block {
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
  padding: 20px;
  border-radius: $border-radius-default;
  border: 1px solid $newspaper;
  flex-wrap: wrap;
  .active-version {
    font-size: 14px;
    @media (max-width: 320px) {
      max-width: 100%;
      margin-bottom: 10px;
    }
    div {
      font-weight: bold;
      font-size: 16px;
    }
  }
  .dataset-tool {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    color: var(--current-theme-primary);
    &:hover {
      color: var(--current-theme-primary-hover);
    }
  }

  .version-dropdown {
    position: relative;
    .menu .version-list-dropdown {
      min-width: 290px;
      border: 1px solid $newspaper;
      border-radius: $border-radius-default;
      @media (max-width: 350px) {
        min-width: 100px;
      }
    }
    .version-list-label {
      font-size: 14px;
      margin: 0 0 10px;
      color: var(--current-theme-primary);
      &:hover {
        color: var(--current-theme-primary-hover);
      }
    }
    @media (max-width: 435px) {
      &.dropdown-wrapper .menu {
        right: 0;
        left: auto;
      }
    }
    @media (max-width: 350px) {
      &.dropdown-wrapper .menu {
        width: 220px;
      }
      &.dropdown-wrapper {
        width: 100%;
        text-align: right;
      }
    }
  }
}
