@import '../../scss/variables';

.filters-block {
  position: relative;
  border-bottom: 1px solid $newspaper;
  margin-bottom: 10px;
  h2 {
    margin: 0 0 20px;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    font-weight: 400;
    font-size: 18px;
    @media (max-width: 450px) {
      flex-wrap: wrap;
    }
    span {
      color: #000;
      font-weight: 700;
      margin: 0 5px;
    }
    .on-button {
      display: block;
      width: 65px;
      margin-left: auto;
      text-transform: uppercase;
      border: 0;
      border-radius: 0;
      padding: 0;
      background: none;
      &:hover {
        color: #000;
      }
      @media (max-width: 450px) {
        min-width: 100%;
        margin-top: 20px;
        text-align: left;
      }
    }
  }
  .active-filters {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      margin-right: 30px;
      margin-bottom: 15px;
      font-size: 13px;
      line-height: 1.7em;
      &:last-child {
        margin-right: 0;
      }
      strong {
        margin-right: 10px;
        text-transform: uppercase;
        color: #666;
      }
      > span {
        display: flex;
        padding: 6px 10px;
        color: #fff;
        border-radius: $border-radius-default;
        background-color: $chiclet-color;
        transition: background-color 0.3s;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background-color: darken($chiclet-color, 10%);
        }
        span {
          color: #fff;
          font-size: 22px;
          margin-left: 8px;
          margin-top: -1px;
        }
      }
      &.search-term-list {
        margin-bottom: 0;
        margin-right: 30px;
        ul li {
          margin-right: 10px;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
        }
      }
    }
  }
}
