@import '../../scss/variables';

.search-sort-list-label {
  padding: 0 0 5px;
  color: var(--current-theme-primary);
  font-size: 14px;
  &:hover {
    color: var(--current-theme-primary-hover);
  }
  i {
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    top: -2px;
  }
  span {
    color: $charcoal;
  }
}
.search-sort-dropdown-list {
  .label {
    margin: 0 0px 0 30px;
    b {
      margin-right: 20px;
    }
  }
  i + .label {
    margin-left: 12px;
  }
  ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 6px;

    background-color: #fff;

    li {
      cursor: pointer;
      width: 100%;
      padding: 0;
      transition: background 0.25s, color 0.25s;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      color: var(--current-theme-primary);
      justify-content: flex-end;
      font-size: 14px;
      &:hover {
        color: var(--current-theme-primary-hover);
        background: rgba(0, 0, 0, 0.025);
      }
    }
  }
}
