//form

.form-group {
	position: relative;
	width: 300px;
	margin: 20px auto;
}

.form-group label {
	position: absolute;
	top: 3px;
	left: 5px;
	font-size: 10px;
	color: #777;
	//display: none;
}
.form-group input {
	width: 100%;
	height: 50px;
	font-size: 22px;
	font-weight: lighter;
	font-family: helvetica;
	padding: 0px 10px;
	border: none;
	background: rgba(255,255,255,1);
}

.form-group textarea {
	width: 100%;
	min-height: 200px;
	font-size: 22px;
	font-weight: lighter;
	font-family: helvetica;
	padding: 15px 10px;
	border: none;
	background: rgba(255,255,255,1);
}