.typeahead {
	position: relative;
	display: inline;
	input{
		padding: 4px 10px;
		margin: 5px 0;
	}

	.typeahead-results {
		position: absolute;
		background: #FFF;
		list-style: none;
		padding: 0;
		box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.4);
		min-width: 300px;
		max-height:300px;
		overflow:hidden;
		overflow-y: scroll;

		li {
			border-top: 1px solid #CCC;
			padding: 15px;
			cursor: pointer;

			&:first-child {border: none;}
			&:hover {background: #EEE;}
			&:active {background: #DDD;}
		}
	}
}