@import "animate/_sliding-entrances/sliding-entrances.scss";  
.signInBlock,
.modal {
	.modal-actions{
		padding:0;
	}
	.alert{
		position: relative;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    max-width: 100%;
	}
}

.share-modal{
	.selectBox-style{
		margin-right: 0;
	}
	.caret-down{
		margin-top: 29px;
	}
}

.update-modal{
	.modal-text{
		font-size: 18px;
	}
	.parameters{ 
		margin: 10px;
		.form-group {
			padding: 5px;
			margin: 0 -15px;
			.input-group{
				.input-group-addon{
					width: auto;
					font-size: 12px;
					margin: 5px 0 0;
					padding: 0 0 0 13px;
					float: left;
					display: block;
				}
				label{
					    float: left;
				}
			}
		}
	}
}

.anaylsis-modal{
	.task-select{
		border:1px solid #ccc;
		padding:0;
		select{
			border:none;
		}
	}
	.default-reset{
		padding:10px;
	}
	
	.modal-actions{
		margin-top: 10px;
		padding:0;
		.admin-blue{
		}
	}
}

// modal form elements
.parameters{ 
	margin-top: 10px;
	.form-group{
		padding: 13px 10px 14px 0;
		&:nth-child(odd){
			background: #f9f9f9;
		}
		label{    
			font-size: 18px;
		    color: #424242;
		    line-height: 21px;
		    padding: 0;
		    margin: 0;
		}
		.input-group{
			width: 100%;
		}
		.input-group-addon{
		    width: 150px;
		    white-space: normal;
		    text-align: left;
		    vertical-align: top;
		}
		input{
			height: 40px;
			font-size: 16px;
			float: none;
			&.checkbox{
			    box-shadow: none;
			    padding: 0;
			    margin: 0;
			    height: auto;
				height: 0; width: 0; 
				display: none;
				position: absolute;
				left: -99999em;
			}	
		}
		input[type='checkbox'] + label > {
				position: relative;
				display: flex;
				margin: .6em 0;
				align-items: center;
				color: #9e9e9e;
				transition: color 250ms cubic-bezier(.4,.0,.23,1);
			}
			input[type='checkbox'] + label > span{
				display: block;
				margin-right: 0;
				width: auto;
				height: auto;
				background: rgba(0, 0, 0, 0);
				border: 2px solid #9E9E9E;
				border-radius: 1px;
				cursor: pointer;
				transition: all 250ms cubic-bezier(.4, 0, .23, 1);
				padding: 8px;
				position: relative;
			}

			input[type='checkbox'] + label > :hover, 
			input[type='checkbox']:focus + label > {
				color: #fff;
			}
			input[type='checkbox'] + label > :hover > span, 
			input[type='checkbox']:focus + label > span{
				background: rgba(255,255,255,.1);
			}

			input[type='checkbox']:checked + label > span{
				border: 2px solid lighten($brand-success, 10%);
				background: lighten($brand-success, 10%);
				color:#fff;
				animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
				overflow: hidden;
			}
			input[type='checkbox']:checked + label > span:before{
				content: "";
				position: absolute;
			    top: 0.3em;
			    left: .1em;	
				border-right: 3px solid transparent;
				border-bottom: 3px solid transparent;
				transform: rotate(45deg);
				transform-origin: 0% 100%;
				animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
				padding: 5px 2px;
			}
		
	}
	.help-text{
		font-size: 14px;
		padding: 10px 10px;
		display: block;
		border: 1px solid #ddd;
		margin:5px 0 0 0;
		color: #999;
		background: #eee;
	}
}

.modal, .modal-backdrop {z-index: 1500;}
body.modal-open{
	#main{
		-webkit-filter: blur(5px);
	    -moz-filter: blur(5px);
	    -o-filter: blur(5px);
	    -ms-filter: blur(5px);
	    filter: blur(5px);
	}
}
.modal-backdrop{background:rgba(0, 0, 0, 0.36);}

.modal{
	&.fade{
		&.in{@include slideInDown();}	
	}
	button.close{
		color: rgba(0,0,0,0.6);
		opacity: 1;
		&:hover{
			color:rgba(0,0,0,0.4);
		}
	}

	.modal-dialog{
	    width: 700px;
	    margin: 0 auto;
	    padding:0 0 20px;
	    border-radius: 0;
	    background-color: #fff;
	    box-shadow:0 3px 8px rgba(0,0,0,.5);
		.modal-content{
			border-radius: 0;
			border: 0;
			width: 100%;
			box-shadow: none;
			margin: 0 auto;
			hr{
				margin: 0;
			}
			.modal-header{
				width: 700px;
				margin: 0 auto;
				border-bottom:none;
				.modal-title{

				}
				button.close{
					color: rgba(0,0,0,0.6);
					opacity: 1;
					&:hover{
						color:rgba(0,0,0,0.4);
					}
				}
			}
			.modal-body {
				width: 700px;
				margin: 0 auto;
				.add-members{
					margin: 20px 0 0;
					border-top: 1px solid #eee;
					padding: 20px 0 0;
				}
			}
		}

	}
}

