//File structure  accordion 
.fileStructure.panel-group{
	margin: 5px 0 10px;
	border: none;
	.panel-default{
		background:none;
		border: none;
		box-shadow: none;
		padding: 0;
		border-radius:0;
		.panel-heading{
			border:none;
			border-color: rgba(0, 0, 0, 0);
			box-shadow: none;
			margin: 0;
			padding: 5px 0;
			text-align: center;
			border-radius: 0;
			background-color: transparent;     
			.panel-title{
				font-size: 10px;
				color:#aaa;
					
				a{
					text-decoration: none;
					color:$primary;
					background: none;
				    margin: 0;
				    padding: 0 0 20px;
				    border-color:transparent;
				    &:before{
				    	content:'Hide ';
				    }
				    &.collapsed{
				    	&:before{
				    		content:'View ';
				    	}
				    }
					&:hover{
						  text-decoration: none;
						  color:$primaryHover;
					}
				}
			}
		}
		.panel-collapse{
			margin-top: 0px;
			.panel-body{
				border-top: 1px solid transparent;
				color:#5c5c5c;
				ul{
					list-style: disc;
					padding-left: 5px;
					font-size: 11px;
					list-style-position: inside;
				}
				> ul{
					list-style: none;
					margin: 0;
					padding-left:5px;
					overflow: hidden;
					overflow-y: scroll;
					height: 170px;
					border: 1px solid #bbb;
					margin: 5px;
				}
			}
		}
	}
}
