body{
    letter-spacing: 0.03em;
    background: #fafafa;
}
.container{
  width: 100%;
}
.view.container{
  width: 100%;
  margin:0;
  padding: 0;
}
.main.view.container{
	padding-top:75px;
}

.container.maxed{
    width: 90%;
    max-width: 1500px;
}

html,
body,
#main,
.page,
.full-col,
.main-col,
.view.container,
.route-wrapper{
	height:100%;
}

.route-wrapper{
	padding: 0;
	margin: 0;
	padding-left: 55px;
	.inner-route{
		padding:20px 0;
	}
}
.full-col{
	padding:0;
	.navbar{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1300;
	}
}
.main-col{
	padding:0;
	.navbar{
		position: fixed;
		width: 66.66667%;
		top: 0;
		left: 0;
	}
	.route-wrapper{
		border-right: 2px solid #ddd;
		overflow-y: scroll;
		position: fixed;
		width: 66.66667%;
		left: 0;	
		padding-bottom: 100px;	
	}
}
.tasks-col{
	padding:0;
}

.toggle-sidebar-wrap{
	position: absolute;
    right: 0;
    top: 75px;
    z-index: 1299;
    .btn{
		border-radius: 0;
		font-size: 25px;
		color: $primary;
		padding: 0 5px 3px;
		background: #ddd;
		font-family: $font-family-ssp;
		line-height: 28px;
		font-weight: 100;
		&:hover{
			color:#333;
		}
		&:focus,
		&:active,
		&:hover{
			background: #ddd;
			outline: none;
			box-shadow:none;

		}
    }
    &.open{
    	right: 33.33333%;
    	margin-right: 0;
    }

}
.admin-tools-wrap{
	margin: 0;
	
	padding: 10px 15px;
	.tools{
		padding: 0;
		margin: 0;
		display:block;
		width: 100%;
		.tool {
			text-align: center;
			vertical-align:middle;
			overflow:hidden;
			> button,
			.fadeIn > button{
				width: 100%;
				color: $ocean;
				&:hover{
					background: #006B7B;
					color:#fff;
				}
			}
			button{
					padding:7px 10px;
					transition: all 0.1s ease;
					border-radius:0;
			
				}
			}
	}
}

.admin-tools-wrap.admin-tools-bar{
	.tool {
		display: block;
		float: left;
		width:50%;
	}
}

.tooltip{
	z-index:4000;
}

.tooltip-inner{
	max-width:200px;
	font-size:12px;
}
