// dataset dataset view
.dataset {
	.fileStructure.panel-group {
		.panel-collapse{
			.panel-body{
				padding:0;
				>ul{
					overflow: visible;
				    height: auto;
				    padding: 10px;
				    margin: 0;
				}
			}
		}
		.panel-default .panel-heading{
			text-align: left;
			.panel-title a{
				font-size: 13px;
			}
		}
	}
	

	.card{
		box-shadow: 1px 0 3px 0 rgba(0,0,0,.3);
		padding: 0;
		margin: 20px 0;
	}
	.dataset-descriptions{
		padding: 0;
	}
	.description-item{
		padding: 20px;
		border-bottom:1px solid #eee;
		border-right:1px solid #eee;
		border-left:1px solid #eee;
				&:first-child{
			border-top:1px solid #eee;
		}
	}
	.dataset-readme{
	    padding: 20px 20px 20px 0;
	}
	h1{
		margin: 0;
		padding: 20px 0 0 0;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 100;
		.dataset-name{
			float: left;
		}
		.nav.nav-pills{
			float: left;
		}
	}
	.tools.nav.nav-pills{
		padding: 0 20px 0;
		margin: 0;
		text-align:right;
		li {
			overflow: hidden;
			float: none;
			display: inline-block;
			button{
					padding:10px 12px;
				}
			}
	}
	.form-group {
		margin: 0;
		label{
		    font-size: 18px;
		    color: #424242;
		    line-height: 21px;
		    padding: 0;
		}
	
		input {}
	}

	textarea,
	textarea.form-control {
		min-height: 50px;
	}

	input[type="file"]{
		color: transparent;
		// margin: 0 auto 30px;
		padding: 0;
		height: 50px;
		display: block;
		width: 100%;
		max-width: 200px;
		&::-webkit-file-upload-button {
			visibility: hidden;
			color: transparent;
		}
	  &::before {
	    font-family: FontAwesome;
	    content: 'add file';
	    display: inline-block;
	    background-color:$sky;
	    @include gradient-vertical($start-color: lighten($sky, 8%), $end-color: $sky, $start-percent: 10%, $end-percent: 100%);
	    box-shadow:$btn-shadow;
	    border-radius: 2px;
	    outline: none;
	    white-space: nowrap;
	    -webkit-user-select: none;
	    cursor: pointer;
	    font-weight: 300;
	    font-size: 12pt;
	    color:$white;
	    text-align: center;
	    padding:13px 15px;
	    margin:0;
	    width: 100%;
	    border:1px solid lighten($sky, 8%);
	    text-transform: uppercase;
	    transition: all 0.3s ease-out;
	  }
	  &:hover::before,
	  &:active::before  {
	    background: darken($sky, 10%);
	    transition: all 0.3s ease-out;
	  }

	  &[type="file"]:focus {
	    outline:none;
	  }
	}
	.cte-display{
	    font-size: 20px;
	    color: #565656;
	    font-weight: 100;
	    font-family: $font-family-ssp;
	    span{
			display: block;
			padding: 10px 0;
			border-bottom: 1px solid #EEE;
	    }
	}
	.btn-wrapper{
		margin-top: 10px;

	}
	.cte-edit{
		.btn.add{
			margin: 5px 0;
			background-color: #E5E5E5;
		}
	}
	.cte-edit-button{
		border: none;
		background-color: rgba(0, 0, 0, 0);
		color: $ocean;
		padding: 0px;
		margin: -5px 0 0 10px;
		span{
			font-size: 10px;
			font-family: sans-serif;
			text-transform: uppercase;
		}
		i{
			font-size: 12px;
			margin-top: -2px;
		}
	}

	.cte-remove-button{
		padding: 0;
		margin-top: -5px;
	}
	.cte-array-items {
		margin-bottom: 10px;
		background:#f4f4f4;
		border:1px solid #ddd;
		.cte-array-item{
			padding:10px;
			&:nth-child(odd){
				background:#eee;
			}
	
		}
	}
}

.dataset-status{
	background: none;
	color: #676767;
	font-size: 14px;
	font-family: $font-family-cabin;
	font-weight: 300;
	padding: 0;
	margin: 0 0 0 15px;
	text-align: center;
	display: inline;
	width: 100%;
	i.fa{
		margin-right: 5px;
	}

	&.ds-primary{
		background:none;
		color:$brand-warning;
	}
	&.ds-success{
		background:none;
		color:$brand-success;
	}
	&.ds-info{
		background:none;
		color:$brand-info;
	}
	&.ds-warning{
		background:none;
		color:$brand-warning;
	}			
	&.ds-danger{
		background:none;
		color:$brand-danger;
	}
}