//buttons // ================================================================

.btn-group{
	overflow:hidden;
}
.btn-basic{
	background: transparent;
	border-radius: 1px;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	font-weight: 400;
	font-size: 12pt;
	color:$primary;
	text-align: center;
	padding: 8px 13px;
	width: 100%;
	border:1px solid $primary;
	text-transform: uppercase;
	margin: 0 0 10px;
	-webkit-user-select: none;
	transition: all 0.3s ease-out;


	&:hover,
	&:active,
	&.hover,
	&.active {
		border-color:$primaryHover;
		background: #fafafa;
		color:$primaryHover;
	}
}

.btn-blue{
	@extend .btn-basic;
    background-color: #007c92;
    color: #fff;
    margin: 0;
    border:none;
	&:hover,
	&:active,
	&.hover,
	&.active,
	&:focus  {
		background: darken($sky, 10%);
		transition: all 0.3s ease-out;
		color:#fff;
		outline: none;
	}
}
.btn-admin{
	background: none;
	border: 1px solid #BBB;
	color: #777;
	border-radius: 0px;
	box-shadow:none;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease-out;
	margin:0;
	padding: 6px 10px;
	&:hover,
	&:active,
	&.hover,
	&.active  {
		border-color:#aaa;
		background: #e0e0e0;
		color:#666;
		transition: all 0.3s ease-out;
	}

	&:focus{
		border: none;
		box-shadow: none;
		outline: none !important;
	}
	&.delete{
		border: none;
	    color: $white;
	    background-color: $brand-danger;
	    &:hover{
	    	color: $white;
	    	background:darken($brand-danger, 10%)
	    }
	}
	&.success{
		border: none;
	    color: $white;
	    background-color: $brand-success;
		&:hover{
			color: $white;
			border-color: lighten($brand-success, 10%);
		}
	}
	&.cancel{
		background:none;
		border:none;
	}
	&.warning{
		border: none;
	    color: $primary;
	    background:none;
	    &:hover{
	    	color: $primaryHover;
	    }
	    i{margin-left:6px;}
	}
	&.warning{
	}	
}

.btn-admin-blue{
	@extend .btn-admin;
	color:$sky;
	border:none;
	text-transform: uppercase;
	transition: all 0.3s ease-out;
	&:hover,
	&:active,
	&.hover,
	&:focus,
	&.active  {
		color: darken($sky, 10%);
		background: #eee;
	}
}

.btn-modal-submit{
	@extend .btn-admin-blue;
	border: 2px solid lighten($sky,5%);
	
	&:active,
	&:focus{
		border:2px solid $sky;
	}
}



.btn-reset{
	@extend .btn-admin;
	border:none;
	margin-left:2px;
	padding:5px;
	font-size:12px;
}

.btn-filter{
	margin: 0;
	color: #aaa;
	border-radius: 0;
	background: #fefefe;
	border: 1px solid #C2C2C2;
	border-width: 0 0 0 1px;
	padding: 6px 23px;
	text-align: center;
	display: inline-block;
	transition: all 0.3s ease;
}
.btn-sort{
	padding: 7px 20px;
	background: #fefefe;
	color: #909090;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
	transition: all 0.3s ease;
	&:hover,
	&:focus,
	&:active,
	&.active{
		outline:0;
		background: #eee;
		color: $primary;
		box-sizing: border-box;
	}
}
.btn-tab{
    background: #f7f7f7 !important;
    border:1px solid #eee;
    box-shadow: 1px -1px 3px -1px rgba(0,0,0,0.1);
    border-radius:0;
    color:$primary;
    margin-left: 15px;
    &.active{
    	background: #fff !important;
    	border-color:#fff;
    	border-left: 1px solid #f6f6f6;
    	border-bottom-color:#fff;

    	color:$primary;
    	 box-shadow: 0px -1px 1px -1px rgba(0,0,0,0.5);

    }
    &:hover{
    	background:#fff !important;
    	color: $sky;
    }
    &.active:hover{
    	background:#fff !important;
    	color:$primary;
    	cursor: normal;
    	outline:none;
    }
}


.edit-file{
	@extend .btn-admin;
	@extend .admin-blue;
	width: auto;
	font-size: 10px;
	position:relative;
	max-width: 70px;
	display: block;
	overflow: hidden;
    margin: 0 auto 10px;
    padding: 10px;
    line-height: 16px;
	input{
	    position: absolute;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    width: 100%;
	}
}

.add-file{
	@extend .btn-admin;
	width: auto;
	font-size: 10px;
	position:relative;
	width: 72px;
	display: block;
	overflow: hidden;
	background:$primaryHover;
	color:#fff;
	&:focus, &:hover, &:active{
		color: #fff;
		background:$primary;
	}
	input{

		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}
.fileupload-btn{
	@extend .btn-blue;
	cursor:pointer;
    position: relative;
    overflow: hidden;
    margin: 0 auto 10px;
    max-width: 200px;
    padding: 10px;
    line-height: 16px;
    font-size: 16px;

	input.dirUpload-btn{
	    position: absolute;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    width: 100%;
	}
}


.btn-warn-component{
	@extend .btn-admin;
	padding:5px;
	transition: all 0.1s ease;
	border-radius:0;
	font-size: 12px;
	display:inline-block;
	i{
		line-height: 30px;
		margin-left: 0;
	}
	&.cancel,
	&.success{
		background: $brand-danger;
		color:#fff;
		font-size: 14px;
		padding: 5px 8px;
		margin: 7px 5px 5px 0;
		&:hover{
			background:darken($brand-danger, 10%);
		}
		i{
			line-height: 15px;
		}
	}
	&.success{
		background: $brand-success;
		&:hover{
			background:darken($brand-success, 10%);
		}
	}
}








//form // ================================================================

.formField{
	width: 100%;
	height: auto;
	font-size: 18px;
	font-family: $font-family-ssp;
	font-weight: lighter;
	border: none;
	background: rgba(255,255,255,1);
	border-radius:2px;
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.14);
	padding: 10px;
	margin: 0;
	&:focus{
		outline: 1px solid rgba(0, 0, 0, 0.9);
		box-shadow:none;
	}
}


.form-group {
    position: relative;
    margin: 10px auto;
	label {
		font-size: 10px;
	    color: #777;
	    right: 5px;
	    top: 5px;
	    text-transform: uppercase;
	}

 	input {
		@extend .formField;
		&:focus{
			box-shadow:none;
			outline: 1px solid rgba(0, 0, 0, 0.9);

		}
	}
	.input-group-addon{
		    border-radius: 0;
		    background: none;
		    box-shadow:none;
		    border: none;
		    text-transform: uppercase;
	}
}

textarea,
textarea.form-control {
	min-height: 200px;
	@extend .formField;
	&:focus{
		outline: 1px solid rgba(0, 0, 0, 0.9);
		box-shadow:none;
	}
}

select {
  width: 100%;
  height: 40px;
  border-radius:0;
  border: 1px solid #d8d8d8;
  background: #fff;
  font-size: 16px;
  text-indent: 5px;
  color: #a5a5a5;
}



//progress bar ========================




.progress{
	background: #dedede;
	border-radius:0;
	height: 18px;
	margin:0;
	padding:0;
}
.progress-bar{
	max-width: 100%;
	background:$turquoise;
	span span{
    font-size: 10px;
    line-height: 10px;
    margin: 0;
    text-align: left;
    display: block;
    padding: 5px 5px;
	}
}


.tooltip-inner{
	border-radius:0;
	background: rgba(0,0,0,0.9);
	color:$white;
	padding: 8px 12px;
}
.tooltip.top .tooltip-arrow{
	border-top-color: rgba(0,0,0,0.9);
}

//Alerts // ================================================================
.navbar {
	.alert{
	    position: absolute;
	    right: 15px;
	    max-width: 600px;
	    top: 80px;
	    font-size: 14px;
	    background: rgba(0, 0, 0, 0.8);
	    border: none;
	    padding: 10px 40px 10px 20px;
	    color: #D9D9D9;
	    .alert-left{
	    	a{
				text-decoration: underline;
			}
	    	a{
	    		color: $brand-info; 
	    		&:hover{
	    			color:lighten($brand-info, 10%);
	    		}
	    	}
	    }
		.dismiss-button-x{
		    position: absolute;
		    top: 0;
		    right: 0;
		    background: none;
		    border: none;
		    color: $brand-info; 
	    		&:hover{
	    			color:lighten($brand-info, 10%);
	    		}
		}
		&.alert-danger{
			color:$brand-danger;
			strong{color:$brand-danger;}
			a{
				text-decoration: underline;
			}
			a,
			.dismiss-button-x{	
				color:$brand-danger;
	    		&:hover{
	    			color:lighten($brand-danger, 10%);
	    		}
	    	}
		}
		&.alert-warning{
			color:$brand-warning;
			strong{color: $brand-warning;}
			a{
				text-decoration: underline;
			}
			a,
			.dismiss-button-x{	
				color:$brand-warning;
	    		&:hover{
	    			color:lighten($brand-warning, 10%);
	    		}
	    	}
		}
	}
}
