
// userCard admin

.blacklist-modal{
	button.btn-blue{
		background: none;
	    box-shadow: none;
	    border-radius: 0;
	    outline: none;
	    white-space: nowrap;
	    -webkit-user-select: none;
	    cursor: pointer;
	    font-weight: 300;
	    color: #007c92;
	    text-align: center;
	    margin: 0;
	    border: none;
	    text-transform: uppercase;
	    transition: all 0.3s ease-out;
		width: 100px;
		margin: 0;
		padding: 10px;
		font-size: 12px;
	    &:hover, &:active, &.hover, &.active {
		    color: #00515f;
		    transition: all 0.3s ease-out;
		    background: #eee;
		}
	}
}
.admin{	
	.form-group label {
		position: absolute;
		top: 3px;
		right: 5px;
		font-size: 10px;
		color: #777;
		//display: none;
	}
	&.blacklist{
		h2{
		    float: left;
		}
		button.btn-blue{
		    float: right;
		    width: 100px;
		    padding: 10px;
		    font-size: 12px;
		    margin: 10px;
		}
		.no-results{
			margin:10px;
		}
	}
	.add-user{
		padding-left:0;
	}
	.users-card{
	    margin: 20px 0 0;
	}
	.users-card{
		h2{
		    margin: 0 -15px;
		    padding: 20px;
		    font-size: 30px;
		    text-transform: uppercase;
		    font-weight: 100;
		    border-bottom: 1px solid #E1E1E1;
		}
		.user-panel,
		.user-panel-header{
			margin: 0 -15px;
			border-radius: 0;
			border: none;
			border-top: 1px solid #E1E1E1;
			box-shadow: none;
			padding: 0;
		}
		.user-panel-header{border-top:none;}
		.user-col{
			padding: 10px 15px;
			label{
				font-weight:bold;
				text-transform: uppercase;
			}
			h3{
				margin: 0;
				font-size: 15px;
				.badge{
					font-weight: 100;
					text-align: right;
					color: #909090;
					font-size: 10px;
					background-color: rgba(0, 0, 0, 0);
				}
				button.btn{
					padding:0;
				}
			}
			&.last{
				overflow:hidden;
				h3{
					text-align: right;
					padding:0;
				}
				
				
				&.delete-data{
					vertical-align: middle;
					display: block;
					text-align: right;
					font-size: 13px;
					text-transform: uppercase;
					margin-top: 5px;
					overflow:hidden;
				}
				.btn-admin.warning{
					padding: 10px 15px;
				}
				.btn-admin.delete{
					border: none;
				    color: $white;
				    background-color: $brand-danger;
				   	padding: 10px 15px;
				    &:hover{
				    	background:darken($brand-danger, 10%)
				    }
				}
				.btn-admin.cancel{
					padding: 10px 15px;
				}
			}	
		}
	}
}