// Type ================================================================

body {
  font-family: $font-family-cabin;
}
a {
  color: $primary;
  cursor: pointer;
}
a:hover, a:focus {
	color:lighten($primary , 15%);
	text-decoration:none;
}
a:active,
a:hover,
a:focus{
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
  font-family:$font-family-ssp;
  font-weight: 400;
}

.href-font{
	  font-family:$font-family-ssp;
}