//buttons // ================================================================
.btn-basic{
	background: transparent;
	border-radius: 1px;
	outline: none;
	white-space: nowrap;
	cursor: pointer;
	font-weight: 400;
	font-size: 12pt;
	color:$primary;
	text-align: center;
	padding:10px 50px;
	width: 100%;
	border:1px solid $primary;
	text-transform: uppercase;
	margin: 0 0 10px;

	&:hover,
	&:active,
	&.hover,
	&.active {
		border-color:$primaryHover;
		background: #fafafa;
		color:$primaryHover;
	}
}
.btn-admin{
	background: none;
	border: 1px solid #BBB;
	color: #777;
	border-radius: 2px;
	&:hover,
	&:active,
	&.hover,
	&.active  {
		border-color:#aaa;
		background: #e0e0e0;
		color:#666;
	}

	&:focus{
		border: none;
		box-shadow: none;
		outline: none !important;
	}
	&.delete{
		border: none;
	    color: $white;
	    background-color: $brand-danger;
	    &:hover{
	    	color: $white;
	    	background:darken($brand-danger, 10%)
	    }
	}
	&.success{
		border: none;
	    color: $white;
	    background-color: $brand-success;
		&:hover{
			color: $white;
			border-color: lighten($brand-success, 10%);
		}
	}
	&.cancel{
		background:none;
		border:none;
	}
	&.warning{
		border: none;
	    color: $primary;
	    background:none;
	    &:hover{
	    	color: $primaryHover;
	    }
	    i{margin-left:6px;}
	}
	&.warning{
	}
	
	&.cancel{
	}

	&.admin-blue{
		background: none;
		box-shadow:none;
		border-radius: 0;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		font-weight: 300;
		color:$sky;
		text-align: center;
		margin:0;
		border:none;
		text-transform: uppercase;
		transition: all 0.3s ease-out;
		&:hover,
		&:active,
		&.hover,
		&.active  {
			color: darken($sky, 10%);
			transition: all 0.3s ease-out;
			background: #eee;
		}
	}
}
.btn-reset{
	@extend .btn-admin;
	border:none;

}
.btn-blue{
	background-color:$sky;
	@include gradient-vertical($start-color: lighten($sky, 8%), $end-color: $sky, $start-percent: 10%, $end-percent: 100%);
	box-shadow:1px 1px 3px -1px rgba(0,0,0,0.7);
	border-radius: 2px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 12pt;
	color:$white;
	text-align: center;
	padding:13px 15px;
	margin:0;
	width: 100%;
	border:1px solid lighten($sky, 8%);
	text-transform: uppercase;
	transition: all 0.3s ease-out;
	&:hover,
	&:active,
	&.hover,
	&.active  {
		background: darken($sky, 10%);
		transition: all 0.3s ease-out;
		color:#fff;
	}
}


.btn-tab{
    background: #f9f9f9 !important;
    border:1px solid #eee;
    box-shadow: 1px -1px 3px -1px rgba(0,0,0,0.1);
    border-radius:0;
    color:$ocean;
    margin-left: -1px;
    &.active{
    	background: #fff !important;
    	border-color:#eee;
    	border-left: 1px solid #f6f6f6;
    	border-bottom-color:#fff;

    	color:$ocean;
    	 box-shadow: 0px -1px 4px -2px rgba(0,0,0,0.3);

    }
    &:hover{
    	background:#eee !important;
    	color: $sky;
    }
    &.active:hover{
    	background:#fff !important;
    	color:$ocean;
    	cursor: normal;
    	outline:none;
    }
}
//form // ================================================================

.form-group {
	position: relative;
	//width: 300px;
	margin: 20px auto;
}

.form-group label {
	font-size: 10px;
	color: #777;
	//display: none;
}
.form-group{
 	input {
		width: 100%;
		height: 50px;
		font-size: 22px;
		font-weight: lighter;
		font-family: helvetica;
		padding: 0px 10px;
		border: none;
		background: rgba(255,255,255,1);
		border-radius:2px;
		box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.14);
		&:focus{
			outline: 1px solid rgba(229, 85, 85, 0.25);

		}
	}
	.input-group-addon{
		    border-radius: 0;
		    background: none;
		    box-shadow:none;
		    border: none;
		    text-transform: uppercase;
	}
}

textarea,
textarea.form-control {
	width: 100%;
	min-height: 200px;
	font-size: 22px;
	font-weight: lighter;
	font-family: helvetica;
	padding: 15px 10px;
	border: none;
	background: rgba(255,255,255,1);
	border-radius:2px;
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.14);
	&:focus{
		outline: 1px solid rgba(229, 85, 85, 0.25);
		box-shadow:inset 0 0 1px 1px rgba(0,0,0,.14);
	}
}

select {
  width: 100%;
  height: 40px;
  border-radius:0;
  border: 1px solid #d8d8d8;
  background: #fff;
  font-size: 16px;
  text-indent: 5px;
  color: #a5a5a5;
}



//progress bar ========================




.progress{
	background: #dedede;
	border-radius:0;
	height: 12px;
	margin:0;
}
.progress-bar{
	max-width: 100%;
	background:$turquoise;
}


.tooltip-inner{
	border-radius:0;
	background: rgba(0,0,0,0.8);
	color:$white;
	padding: 8px 12px;
}
.tooltip.top .tooltip-arrow{
	border-top-color: rgba(0,0,0,0.8);
}
