//dataset loading icon spinner 
.loading-wrap{
	padding: 20px 0 30px;
	text-align: center;
	position:relative;
	span{
		text-transform: uppercase;
		margin-top: 5px;
		display: block;
		font-size:12px;
		color: $turquoise;
	}
	.spinner,
	.spinnerinner {
		position: relative;
		border: 4px solid $turquoise;
		border-color: transparent $turquoise;
		margin: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		width: 45px;
		height: 45px;
		padding: 0;
		margin: 0;
	}



	.spinner {
		animation: spin 4s linear 0s infinite normal;
		margin: 0 auto;
	}

	.spinnerinner{
		border-width: 2px;
		margin: 21%;
		padding: 0;
		border-radius: 50%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		width: 60%;
		height: 60%;
		animation: innerspin  1s linear 0s infinite normal;
	}
}

@keyframes  spin {
	from { -webkit-transform: rotate(0) }
	to { -webkit-transform: rotate(360deg) }
}
@keyframes  innerspin {
	from { -webkit-transform: rotate(0) }
	to { -webkit-transform: rotate(360deg) }
}
