//File structure  accordion 
.fileStructure.panel-group{
	margin: 5px 0 10px;
	border: none;
	.panel-default{
		background:none;
		border: none;
		box-shadow: none;
		padding: 0;
		border-radius:0;
		.panel-heading{
			border:none;
			border-color: rgba(0, 0, 0, 0);
			box-shadow: none;
			margin: 0;
			padding: 5px 0;
			text-align: center;
			border-radius: 0;
			background-color: transparent;     
			.panel-title{
				font-size: 10px;
				color:#aaa;
					
				a{
					text-decoration: none;
					color:$primary;
					background: none;
				    margin: 0;
				    padding: 0 0 20px;
				    border-color:transparent;
				    &:before{
				    	content:'Hide ';
				    }
				    &.collapsed{
				    	&:before{
				    		content:'View ';
				    	}
				    }
					&:hover{
						  text-decoration: none;
						  color:$primaryHover;
					}
				}
			}
		}
		.panel-collapse{
			margin-top: 0px;
			.panel-body{
				border-top: 1px solid transparent;
				color:#5c5c5c;
				ul{
					list-style: disc;
					padding-left: 5px;
					font-size: 11px;
					list-style-position: inside;
				}
				> ul{
					list-style: none;
					margin: 0;
					padding-left:5px;
					overflow: hidden;
					overflow-y: scroll;
					height: 170px;
					border: 1px solid #bbb;
					margin: 5px;
				}
			}
		}
	}
}

.dataset .dataset-wrap{
	.fileStructure.panel-group{
		.panel-default{
			.panel-heading .panel-title{
				font-size: 18px;
				color: #424242;
				line-height: 21px;
				padding: 0;
				display: inline-block;
				max-width: 100%;
				margin-bottom: 5px;
				font-family: 'Cabin', sans-serif;
			}
			.panel-body{
				padding:0;
				ul{
					padding: 0;
					position:relative;
					li{
						position:relative;
						 .cte-edit-button{
						 	position:absolute;
						 	top: 5px;
						 	right:5px;
						 }
					}
				}


				>ul{
					overflow: visible;
				    height: auto;
				    padding: 10px;
				    margin: 0;

				    li {
						padding: 3px 0 3px 10px;
						list-style: none;
						margin: 2px;
						.child-files{
							margin-left: 5px;
							border-left: 1px solid #999;
							li{
								background:#fff;
								&:nth-child(odd){
									background:#f9f9f9;
								}
								.message.error{
									color:$coral;
								}
								.fa-times{
									cursor: pointer;
								}
							}

							li:before {
								content: '';
								height: 7px;
								width: 7px;
								background: none;
								border-bottom: 1px solid #999;
								margin-left: -11px;
								position: absolute;
								margin-top: 3px;
							}
						}
				    }
				}

				.fileTreeEditFile{
					height: 20px;
					float: none;
					width: 100%;
					display: block;
					margin:5px 0 0px;
				}


			}
		}
		.panel-default .panel-heading{
			text-align: left;
			.panel-title a{
				font-size: 13px;
				padding:0;
			}
		}
	}
}
