
.analyses{
	.jobs-wrap{
		.jobs{	
			border-radius: 0;
			.panel-heading{
				padding: 0;
				
				.panel-title{
					@extend .clearfix;
					padding:0;
					display: block;
					background: lighten(#eee, 10%);
					a{
						padding:10px;
						display: block;
						font-size: 14px;
						&:after{
							content: '\f0d8';
							font-family:FontAwesome;
							float: right;
							font-size: 12px;
							margin-top: 3px;
						}
						&.collapsed{
							&:after{
								content: '\f0d7';
							}
						}
					}
				}
			}
		}
		.job{
			margin-bottom: 10px;
			border-radius: 0;
			.panel-heading{
				padding: 0;
				background:none;
				.panel-title{
					@extend .clearfix;
					padding:10px;
					display: block;
					background:none;
					label{
						margin: 0;
						padding: 0 5px 0;
						text-transform: uppercase;
						font-size: 12px;
					}
					strong{
						color:#666;
					}
					.meta{
						background:none;
						color:#999;
						font-size: 12px;
						label{
							text-transform: none;
						}

					}
					.badge{
						background:none;
						color:#999;
						font-size: 12px;
					}
				}
				.finished .badge{color:$brand-success;}
			}
			.panel-body .inner{
				margin:-15px;
				display: block;
			}
			.results{
				margin: 0;
				.panel{
					border:none;
					border-top:1px solid #ccc;
					border-radius:0;
					.panel-heading .panel-title{
						padding:0;
						background:lighten($misty, 10%);
						a{
							padding:8px 15px;
							display: block;
							font-size: 14px;
							&:after{
									content: '\f0d8';
									font-family:FontAwesome;
									float: right;
									font-size: 12px;
									margin-top: 3px;
								}
							&.collapsed{
								&:after{
									content: '\f0d7';
								}
							}
							}
					}
					ul{
						padding: 0;
					    list-style: none;
					    li{
					    	padding:0 0 10px;
    				}
					}
					.warning-btn-wrap{
						width: 55px;
						text-align: center;
						overflow: hidden;
						display: inline-block;
						line-height: 10px;
						vertical-align: middle;
						font-size: 14px;
					}
				}
			}
		}
	}
}
