//base =====================================================================
@import "bootstrap";                                                      
//font                                                                    
@import "font-awesome/_font-awesome";                                     
// Always required _properties if not importing all animate/animate.scss  
@import "animate/_properties";                                            
        
//==========================================================================

//crn SASS ======================================================================
@import "./_crn-variables";
@import "./_crn-generalwrappers";
@import "_crn-typography";
@import "_crn-general_BStrap_Overrides";

//component common
@import "./_crn-navbar";
@import "./_crn-left_navbar.scss";
@import "./_crn-spinner";
@import "./_crn-pagination";
@import "./_crn-happybrowser";

//component specific
@import "./_crn-admin";
@import "./_crn-signin";
@import "./_crn-dashboard";
@import "./_crn-file_structure";
@import "./_crn-upload";
@import "_crn-dataset";

// annimations ================================================================ 
@import "animate/_fading-entrances/fading-entrances.scss";      
@import "animate/_sliding-entrances/sliding-entrances.scss";   
@import "animate/_attention-seekers/attention-seekers.scss";  
@import "animate/_sliding-entrances/sliding-entrances.scss";       

.fadeInDown{@include fadeInDown();}
.fadeInDownBig{@include fadeInDownBig();}
.fadeInUp{@include fadeInUp();}
.fadeInUpBig{@include fadeInUpBig();}
.fadeInLeft{@include fadeInLeft();}
.fadeInRight{@include fadeInRight();}
.fadeInRightBig{@include fadeInRightBig();}
.fadeIn{@include fadeIn();}
.slideInRight{@include slideInRight();}
.bounce{@include bounce();}
.slideInRight{@include slideInRight();}
.slideInRightFast{@include slideInRightFast();}

.typeahead {
	position: relative;

	.typeahead-results {
		position: absolute;
		background: #FFF;
		list-style: none;
		padding: 0;

		li {
			border-top: 1px solid #CCC;
			padding: 10px;
			cursor: pointer;

			&:first-child {border: none;}
			&:hover {background: #EEE;}
			&:active {background: #DDD;}
		}
	}
}







