**/.pytest_cache
**/node_modules
**/coverage
**/dist
**/.eslintcache
**/__pycache__
.github
.vscode
coverage
docs
helm
nginx
scripts
services/datalad/.venv
services/datalad/node_modules
.env.example
config.env.example
LICENSE
README.md