.DS_Store
config.env
.env
yarn-error.log
node_modules
lerna-debug.log
.eslintcache
coverage
datalad-key
content
packages/openneuro-server/yarn.lock
.docz
dist
.build-cache
.ultra.cache.json
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions