# Hostname URL for the site, e.g. 'http://localhost:9876' for local dev
CRN_SERVER_URL=

# Secret authentication value for this instance
JWT_SECRET=

# Google oauth2 configuration - configure to enable Google auth
# https://developers.google.com/identity/sign-in/web/sign-in for instructions
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Orcid oauth2 configuration - configure to enable Orcid auth
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
ORCID_REDIRECT_URI=
ORCID_URI=
ORCID_API_ENDPOINT=


# Relay for enabling mail - leave blank to disable email
CRN_SERVER_MAIL_SERVICE=
CRN_SERVER_MAIL_USER=
CRN_SERVER_MAIL_PASS=

# AWS integration settings - required for analysis support
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_ACCOUNT_ID=
AWS_S3_DATASET_BUCKET=
AWS_S3_ANALYSIS_BUCKET=
AWS_S3_INPUTS_BUCKET=
AWS_BATCH_QUEUE=
AWS_BATCH_COMPUTE_ENVIRONMENT=

# Enable Google analytics
GOOGLE_TRACKING_ID=

# Enable DOI minting
DOI_USERNAME=
DOI_PASSWORD=
DOI_PREFIX=
DOI_URL=

# Enable sentry debugging and choose a unique environment key
SENTRY_DSN=
ENVIRONMENT=

