# don't quote string values


# core ----------------------------------------------------------------------------------------

SCITRAN_RUNTIME_PORT=8112
SCITRAN_CORE_DRONE_SECRET=
SCITRAN_PERSISTENT_DB_URI=mongodb://mongo:27017/scitran
SCITRAN_AUTH_AUTH_ENDPOINT=https://accounts.google.com/o/oauth2/auth
SCITRAN_AUTH_CLIENT_ID=
SCITRAN_AUTH_ID_ENDPOINT=https://www.googleapis.com/plus/v1/people/me/openIdConnect
SCITRAN_AUTH_VERIFY_ENDPOINT=https://www.googleapis.com/oauth2/v1/tokeninfo
SCITRAN_PERSISTENT_DATA_PATH=/srv/bids-core/persistent/data
SCITRAN_URL=http://nginx:80/api/

# server ----------------------------------------------------------------------------------------

CRN_SERVER_URL=

ORCID_AUTH_CLIENT_ID=
ORCID_AUTH_CLIENT_SECRET=
ORCID_AUTH_REDIRECT_URI=
ORCID_URI=
ORCID_API_URI=

CRN_SERVER_AGAVE_URL=https://api.tacc.utexas.edu/
CRN_SERVER_AGAVE_USERNAME=
CRN_SERVER_AGAVE_PASSWORD=
CRN_SERVER_AGAVE_CLIENT_NAME=
CRN_SERVER_AGAVE_CLIENT_DESCRIPTION=
CRN_SERVER_AGAVE_CONSUMER_KEY=
CRN_SERVER_AGAVE_CONSUMER_SECRET=
CRN_SERVER_AGAVE_STORAGE=

CRN_SERVER_MAIL_SERVICE=
CRN_SERVER_MAIL_USER=
CRN_SERVER_MAIL_PASS=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_ACCOUNT_ID=
AWS_S3_DATASET_BUCKET=
AWS_S3_ANALYSIS_BUCKET=
AWS_S3_INPUTS_BUCKET=
AWS_BATCH_QUEUE=
AWS_BATCH_COMPUTE_ENVIRONMENT=

GOOGLE_TRACKING_ID=
