# Hostname URL for the site, e.g. 'http://localhost:9876' for local dev
CRN_SERVER_URL=

# Secret authentication value for this instance
JWT_SECRET=

# Google oauth2 configuration - configure to enable Google auth
# https://developers.google.com/identity/sign-in/web/sign-in for instructions
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Orcid oauth2 configuration - configure to enable Orcid auth
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
ORCID_API_ENDPOINT=

# Globus oauth2 configuration - configure to enable Globus auth
GLOBUS_CLIENT_ID=
GLOBUS_CLIENT_SECRET=

# Relay for enabling mail - leave blank to disable email
CRN_SERVER_MAIL_SERVICE=
CRN_SERVER_MAIL_USER=
CRN_SERVER_MAIL_PASS=

# AWS integration settings - required for analysis support
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_ACCOUNT_ID=
AWS_BATCH_QUEUE=
AWS_BATCH_COMPUTE_ENVIRONMENT=

# Dataset unpublished/published buckets - used by DataLad service
AWS_S3_PRIVATE_BUCKET=
AWS_S3_PUBLIC_BUCKET=

# Enable Google analytics
GOOGLE_TRACKING_ID=

# Enable DOI minting
DOI_USERNAME=
DOI_PASSWORD=
DOI_PREFIX=
DOI_URL=

# Choose a unique environment key - used to group error reports in Sentry
ENVIRONMENT=

# Enable fresh desk support
FRESH_DESK_URL=

# Enable Apollo engine monitoring
ENGINE_API_KEY=

# Redis connection
REDIS_HOST=redis
REDIS_PORT=6379

# client -----------------------------------------------------------------------

ANALYSIS_ENABLED=true

# Datalad ----------------------------------------------------------------------

DATALAD_WORKERS=4

# GitHub user must have admin on the organization
DATALAD_GITHUB_EXPORTS_ENABLED=false
DATALAD_GITHUB_ORG=
DATALAD_GITHUB_LOGIN=
DATALAD_GITHUB_PASS=
