# docker compose versions
version: '2'

# shared volumes
volumes:
  project:

services:

  # mongodb
  mongo:
    image: mongo

  # Redis
  redis:
    image: redis:alpine

  # web app bundle build
  app:
    image: openneuro/app:${CRN_APP_TAG}
    volumes:
      - project:/srv/packages/openneuro-app/dist
    env_file: ./config.env

  # crn core (bids-core)
  core:
    image: poldracklab/bids-core:${BIDS_CORE_TAG}
    volumes:
      - ${PERSISTENT_DIR}/bids-core/persistent/data:/srv/bids-core/persistent/data
    env_file: ./config.env
    restart: always

  # crn node server
  server:
    image: openneuro/server:${CRN_SERVER_TAG}
    volumes:
      - ${PERSISTENT_DIR}/bids-core/persistent/data:/srv/bids-core/persistent/data
      - ${PERSISTENT_DIR}/crn-server/persistent:/srv/persistent
    env_file: ./config.env
    restart: always

  # worker
  worker:
    image: openneuro/server:${CRN_SERVER_TAG}
    command:
      - node
      - /srv/worker.js
    volumes:
      - ${PERSISTENT_DIR}/bids-core/persistent/data:/srv/bids-core/persistent/data
      - ${PERSISTENT_DIR}/crn-server/persistent:/srv/persistent
    env_file: ./config.env
    restart: always

  # datalad Python backend
  datalad:
    image: openneuro/datalad-service:${DATALAD_SERVICE_TAG}
    volumes:
      - ${PERSISTENT_DIR}/datalad:/datalad
      - ./datalad-key:/datalad-key
    env_file: ./config.env
    restart: always
  
  # celery Python backend
  celery:
    image: openneuro/datalad-service:${DATALAD_SERVICE_TAG}
    command:
      - celery
      - -A
      - datalad_service.worker
      - worker
      - --loglevel=DEBUG
      - -c
      - "4"
    volumes:
      - ${PERSISTENT_DIR}/datalad:/datalad
    restart: always
    env_file: ./config.env


  # nginx - static file serving and service proxy
  nginx:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
      - project:/srv/app/dist
      - ./acme:/acme
      - ${SSL_DIR}:/etc/nginx/ssl
    ports:
      - "80:80"
      - "8110:8110"
      - "443:443"
    depends_on:
      - server
      - core
