amqp==2.2.2
appdirs==1.4.3
asn1crypto==0.24.0
astroid==1.6.3
attrs==17.4.0
autopep8==1.3.5
billiard==3.5.0.3
boto==2.48.0
celery==4.1.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
citeproc-py==0.4.0
coverage==4.5.1
cryptography==2.2.2
datalad==0.9.3
duecredit==0.6.3
entrypoints==0.2.3
falcon==1.4.1
fasteners==0.14.1
gevent==1.2.2
gitdb2==2.0.3
GitPython==2.1.9
greenlet==0.4.13
gunicorn==19.7.1
humanize==0.5.1
idna==2.6
iso8601==0.1.12
isort==4.3.4
jsmin==2.2.2
keyring==12.0.1
keyrings.alt==3.0
lazy-object-proxy==1.3.1
kombu==4.1.0
lxml==4.2.1
mccabe==0.6.1
mock==2.0.0
monotonic==1.4
more-itertools==4.1.0
msgpack==0.5.6
patool==1.12
pbr==4.0.2
pluggy==0.6.0
py==1.5.3
pycodestyle==2.4.0
pycparser==2.18
PyGithub==1.39
PyJWT==1.6.1
PyLD==1.0.3
pylint==1.8.4
pytest==3.5.0
pytest-cov==2.5.1
python-mimeparse==1.6.0
pytz==2018.4
redis==2.10.6
requests==2.18.4
SecretStorage==2.3.1
simplejson==3.13.2
six==1.11.0
smmap2==2.0.3
tqdm==4.23.0
urllib3==1.22
vine==1.1.4
wrapt==1.10.11
