.infograph-block {
  span {
    display: block;
    background: #e7e7e7;
    width: 270px;
    padding: 30px;
    box-sizing: border-box;
    height: 270px;
    border-radius: 50%;
    margin: 0 auto -59px 30%;
    img {
      max-width: 90%;
      margin: 0 auto;
      display: block;
    }
  }

  .info-card {
    div {
      max-width: 450px;
      background: #e8f2f6;
      border: 1px solid #d0dee2;
      padding: 20px;
    }
    h3 {
      margin: 0 0 15px;
      font-size: 26px;
    }
  }

  &#get-data,
  &#share-data,
  &#use-data {
    position: relative;

    margin: 0 auto 0 0;
    width: 450px;
  }

  &#share-data {
    margin-left: auto;
    margin-right: -80px;
  }

  &#use-data {
    margin: 0 0 0 -80px;
  }
  @media (max-width: 1600px) {
    &#share-data {
      margin-right: 0;
    }
    &#use-data {
      margin: 0;
    }
  }
}

.front-infographic {
  .bg-circle {
    max-width: calc(100vw - 20px);
    max-height: calc(100vw - 20px);
    height: 1400px;
    width: 1400px;
    border: 2px solid #d9d9d9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
  }
}
