@import '../../scss/variables';

.hexagon-wrapper {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  div.label {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
  }

  .hexagon {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
  }

  .hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
  }

  .hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
  }
  .hexagon {
    transition: background-color 0.3s;
    background-color: $on-dark-aqua;

    &.mri {
      background-color: $mri-theme;
    }
    &.eeg {
      background-color: $eeg-theme;
    }

    &.pet {
      background-color: $pet-theme;
    }
    &.ieeg {
      background-color: $ieeg-theme;
    }

    &.meg {
      background-color: $meg-theme;
    }
    &.eeg {
      background-color: $on-light-green;
    }
    &.nirs {
      background-color: $nirs-theme;
    }
  }
}
a {
  .hexagon-wrapper {
    text-align: center;
    margin: 20px auto;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    div.label {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 13px;
      color: unset;
    }

    .hexagon {
      height: 100%;
      width: calc(100% * 0.57735);
      display: inline-block;
    }

    .hexagon:before {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      transform: rotateZ(60deg);
    }

    .hexagon:after {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      transform: rotateZ(-60deg);
    }

    .hexagon {
      transition: color 0.3s;
      background-color: #fff;

      &.mri {
        color: $mri-theme;
        background-color: #fff;
      }
      &.eeg {
        color: $eeg-theme;
        background-color: #fff;
      }

      &.pet {
        color: $pet-theme;
        background-color: #fff;
      }
      &.ieeg {
        color: $ieeg-theme;
        background-color: #fff;
      }

      &.meg {
        color: $meg-theme;
        background-color: #fff;
      }
    }
    &:hover {
      .hexagon {
        color: lighten($on-dark-aqua, 15%);
        &.mri {
          color: lighten($mri-theme, 10%);
        }
        &.eeg {
          color: lighten($eeg-theme, 10%);
        }

        &.pet {
          color: lighten($pet-theme, 10%);
        }
        &.ieeg {
          color: lighten($ieeg-theme, 10%);
        }

        &.meg {
          color: lighten($meg-theme, 10%);
        }
      }
    }
  }
}


