@import '../scss/variables';

.facet-accordion.on-accordion-wrapper {
  padding: 0 15px;
  border-bottom: 1px solid #aaa;

  .accordion-title {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  .facet-list {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        cursor: pointer;
        font-weight: 300;
        color: #666;
        font-size: 14px;
        &.selected-facet {
          > .label,
          > .label span {
            color: var(--current-theme-primary);
          }
        }
        .label {
          display: flex;
          align-items: center;
          span {
            margin-left: 10px;
            display: flex;
            color: #666;
            font-size: 14px;
          }
        }
      }
    }
    .level-1 > li {
      border-top: 1px solid #dfdfdf;
      > span:hover {
        background-color: var(--current-theme-primary-light);
      }

      > .label {
        padding: 10px;
      }
    }
    .level-2 {
      margin-bottom: 10px;
      display: block;
      width: 100%;
      > li {
        display: flex;
        justify-content: flex-start;
        &:hover {
          background-color: var(--current-theme-primary-light);
        }

        .label {
          margin-left: 15px;
        }
        &:before {
          content: '-';
          margin-left: 12px;
        }
      }
    }
  }

  .facet-list ul li {
    > .label {
      font-weight: 500;
    }
    &.selected-facet > .label {
      color: var(--current-theme-primary);
      font-weight: bold;

      span {
        color: var(--current-theme-primary);
        font-weight: 400;
      }
    }
    &.selected-facet:hover {
      background-color: none;
    }
  }
}

.facet-range {
  margin: 20px 0;
}

.facet-date-picker.on-accordion-wrapper .accordion-item {
  overflow: visible;
  .range-input {
    padding: 0 0 20px 0;
    .react-daterange-picker {
      width: 100%;
    }
    .react-daterange-picker__wrapper {
      border: 0;
      width: 100%;
      .react-daterange-picker__range-divider {
        margin: 0 15px;
        display: inline-block;
      }
      .react-daterange-picker__inputGroup {
        min-width: auto;
        flex-grow: 0;
        padding: 0;
        input {
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
        }
      }
      .react-daterange-picker__clear-button {
        margin-left: auto;
      }
      .react-daterange-picker__button {
        color: var(--current-theme-primary);
        &:hover {
          color: var(--current-theme-primary-hover);
        }
      }
    }
  }

  .react-calendar__month-view__days__day,
  .react-calendar__month-view__days__day--weekend {
    color: $charcoal;
  }
  .react-calendar__tile--now {
    background-color: #eee;
  }
  .react-calendar__tile--active {
    background-color: var(--current-theme-primary);
    color: #fff;
  }
}

.fade-out-facet {
  max-height: 0;
  height: auto;
  transition: max-height 1s;
  overflow: hidden;
}

.fade-in-facet {
  height: auto;
  max-height: 800px;
  transition: max-height 1s;
}

.dataset-status.facet-accordion.on-accordion-wrapper {
  border-bottom: 0;
}

.search-nav .facet-accordion.modality-facet {
  margin: 20px 0;
  border: 0;
  background: #e5f4f7;
  border-radius: $border-radius-default;
  padding: 10px;

  &.facet-accordion {
    h2 {
      margin: 10px 0 15px;
      font-size: 19px;
      font-weight: 600;
      color: var(--current-theme-primary);
    }
    .facet-list {
      padding: 0 0 10px;
      color: var(--current-theme-primary);
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          cursor: pointer;
        }
      }
      .label {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        span {
          margin-left: 10px;
          display: inline-block;
          font-size: 14px;
        }
      }

      .level-1 > li {
        border-top: 1px solid $newspaper;

        > .label {
          display: inline-block;
          margin-bottom: 10px;
          padding: 10px 10px 0;
        }
      }
      .level-2 {
        margin-bottom: 10px;
        font-size: 14px;
        > li {
          display: flex;
          justify-content: flex-start;

          .label {
            margin-left: 15px;
          }
          &:before {
            content: '-';
            margin-left: 12px;
          }
        }
      }
    }
    .facet-list ul li {
      > .label {
        font-weight: 500;
      }
      &.selected-facet > .label {
        color: var(--current-theme-primary);
        font-weight: bold;

        span {
          color: var(--current-theme-primary);
          font-weight: 400;
        }
      }
    }
  }
}

.facet-search {
  padding-bottom: 30px;
  .term-block {
    margin: 30px 0 0;
  }
}
