/* Accordion styles */

.on-accordion-wrapper {
  .accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
  }

  .accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
  }

  .accordion-title {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &::after {
      margin-left: 10px;
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid currentColor;
    }

    &:hover,
    &.open {
      color: black;
    }

    &.open {
      &::after {
        content: '';
        border-top: 0;
        border-bottom: 5px solid;
      }
    }

    .file-icon {
      margin-right: 10px;
    }
  }

  .accordion-content {
    padding: 0;
  }
}

.file-tree .accordion-content {
  margin-left: 10px;
}
