secrets:
  # A unique true random string used to secure JWT tokens
  JWT_SECRET:

  # At least one auth method must be configured
  auth:
    # Google oauth2 configuration - configure to enable Google auth
    # https://developers.google.com/identity/sign-in/web/sign-in for instructions
    GOOGLE_CLIENT_ID:
    GOOGLE_CLIENT_SECRET:

    # Orcid oauth2 configuration - configure to enable Orcid auth
    ORCID_CLIENT_ID:
    ORCID_CLIENT_SECRET:
    # Defaults to test service, configure for production
    #ORCID_API_ENDPOINT:

    # Globus oauth2 configuration - configure to enable Globus auth
    #GLOBUS_CLIENT_ID:
    #GLOBUS_CLIENT_SECRET:

  # MongoDB configuration
  mongo:
    MONGO_URL: 

  # Notification service configuration
  mail: 
    # Mailgun is the only supported value at the moment
    CRN_SERVER_MAIL_SERVICE: mailgun
    CRN_SERVER_MAIL_USER:
    # Source domain for emails (not a URL)
    CRN_SERVER_MAIL_URL:
    CRN_SERVER_MAIL_PASS:

  aws:
    AWS_REGION: us-east-1
    AWS_ACCOUNT_ID:
    # This service account should be assigned S3 write access
    AWS_ACCESS_KEY_ID:
    AWS_SECRET_ACCESS_KEY:
    AWS_S3_PRIVATE_BUCKET: bucket-name
    AWS_S3_PUBLIC_BUCKET: public-bucket-name

  # Datalad service
  datalad:
    DATALAD_GITHUB_EXPORTS_ENABLED: true
    DATALAD_GITHUB_LOGIN:
    DATALAD_GITHUB_ORG:
    DATALAD_GITHUB_PASS:

  # DOI minting
  doi:
    DOI_USERNAME:
    DOI_PASSWORD:
    DOI_PREFIX:
    DOI_URL:
  
  # Flower Dashboard - enable to help debug Celery tasks
  flower:
    FLOWER_BASIC_AUTH: username:password
