# Root hostname
hostname: staging.openneuro.org

# The FQDN URL for the site, optionally including port number
url: https://staging.openneuro.org

# GraphQL endpoint
graphql: http://openneuro-staging-api:8111/crn/graphql

# A unique string identifying this install of OpenNeuro
environment: staging

# Enable FreshDesk ticketing
freshDeskUrl: https://openneuro.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=no

# Enable Google Analytics
googleTrackingIds: 'UA-100754266-1,G-K092KXB4WL'

# AWS TLS Certificate ARN
certifcateArn: 'arn:aws:acm:us-east-1:488777458602:certificate/6883342b-63ac-4466-b3f8-d9a8dd80bfaa'

# Dataset worker parallelism
dataladWorkers: 4

# OpenNeuro-server API parallelism
apiReplicas: 2

# Static service parallelism
webReplicas: 2

# Sentry DSN
sentryDsn: https://b8eb90670f3386206200aa89e0d91076@o4507748938350592.ingest.us.sentry.io/4507750879461376

# Elastic APM path
apmServerUrl: https://openneuro-staging.apm.us-west-2.aws.found.io

# API resource configuration
apiCpuRequests: 0.5
apiMemoryRequests: 0.5Gi


# Worker resource configuration
workerCpuRequests: 0.5
workerMemoryRequests: 1Gi

# Nginx resource configuration
webCpuRequests: 0.25
webMemoryRequests: 0.5Gi

# GCP zone for this set of workers
workerZone: us-west1-b

# Assigned volumes for each worker (max 64TB)
workerDiskSize:
  - id: projects/hs-openneuro/zones/us-west1-b/disks/openneuro-staging-datasets-0
    size: 256Gi
  - id: projects/hs-openneuro/zones/us-west1-b/disks/openneuro-staging-datasets-1
    size: 256Gi
  - id: projects/hs-openneuro/zones/us-west1-b/disks/openneuro-staging-datasets-2
    size: 256Gi
  - id: projects/hs-openneuro/zones/us-west1-b/disks/openneuro-staging-datasets-3
    size: 256Gi

# Disable Redis password for testing
redis:
  image:
    registry: docker.io
    repository: bitnamilegacy/redis
    tag: 8.2.1
  architecture: standalone
  auth:
    enabled: false
  master:
    disableCommands: []
    resources:
      requests:
        cpu: 0.25
        memory: 1Gi
