# Root hostname
hostname: openneuro.staging.sqm.io

# The FQDN URL for the site, optionally including port number
url: https://openneuro.staging.sqm.io

# GraphQL endpoint
graphql: http://openneuro-staging-api:8111/crn/graphql

# A unique string identifying this install of OpenNeuro
environment: staging

# Enable FreshDesk ticketing
freshDeskUrl: https://openneuro.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=no

# Enable Google Analytics
googleTrackingIds: 'UA-100754266-1,G-K092KXB4WL'

# AWS TLS Certificate ARN
certifcateArn: 'arn:aws:acm:us-east-1:488777458602:certificate/6883342b-63ac-4466-b3f8-d9a8dd80bfaa'

# Dataset worker parallelism
dataladWorkers: 4

# OpenNeuro-server API parallelism
apiReplicas: 2

# Static service parallelism
webReplicas: 2

# Content container tag
contentTag: v1.0.6

# Sentry DSN (non-secret version)
sentryDsn: https://ba0c58863b3e40a2a412132bfd2711ea@o114074.ingest.sentry.io/251076

# Elastic APM path
apmServerUrl: https://b33224e4ded44efabb74f65de2f84f2e.apm.us-east-1.aws.found.io

# Worker CPU requests
workerCpuRequests: 0.2

# Configure storage node EBS volumes
# Workers are evenly distributed across available pools
# Size in bytes
storagePools:
  # This is the size of the pool disks
  stripeSize: 1099511627776
  pools:
    - name: a
      size: 1099511627776
    - name: b
      size: 1099511627776

# The underlying EFS volume should be created manually and configured here
efs-provisioner:
  efsProvisioner:
    awsRegion: us-east-1
    efsFileSystemId: fs-acb10b4f
    path: /pv
    storageClass:
      name: efs
      reclaimPolicy: Retain

# Load balancer / ingress config
aws-alb-ingress-controller:
  awsRegion: us-east-1
  autoDiscoverAwsVpcID: true
  clusterName: openneuro-staging

# Disable Redis password for testing
redis:
  usePassword: false
  master:
    disableCommands: []
    resources:
      limits:
        cpu: '500m'
        memory: '3Gi'
      requests:
        cpu: '250m'
        memory: '1.5Gi'
  slave:
    resources:
      limits:
        cpu: '250m'
        memory: '3Gi'
      requests:
        cpu: '125m'
        memory: '1.5Gi'

apm-server:
  apmConfig:
    apm-server.yml: |
      apm-server:
        host: "0.0.0.0:8200"
        rum.enabled: true
      queue: {}
      cloud:
        id: "${ELASTICSEARCH_CLOUD_ID}"
        auth: "${ELASTICSEARCH_CLOUD_AUTH}"
  envFrom:
    - secretRef:
        name: openneuro-staging-secret
