# Root hostname
hostname: openneuro.org

# The FQDN URL for the site, optionally including port number
url: https://openneuro.org

# GraphQL endpoint
graphql: http://openneuro-prod-api:8111/crn/graphql

# A unique string identifying this install of OpenNeuro
environment: production

# Enable FreshDesk ticketing
freshDeskUrl: https://openneuro.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=no

# Enable Google Analytics
googleTrackingIds: 'UA-100754266-2,G-MJNMY6D3FX'

# AWS TLS Certificate ARN
certifcateArn: "arn:aws:acm:us-west-2:488777458602:certificate/d37b43e0-9af3-423a-86ef-0652e0332e33"

# Dataset worker parallelism
dataladWorkers: 4

# OpenNeuro-server API parallelism
apiReplicas: 4

# Static service parallelism
webReplicas: 3

# Sentry DSN
sentryDsn: https://b8eb90670f3386206200aa89e0d91076@o4507748938350592.ingest.us.sentry.io/4507750879461376

# Elastic APM path
apmServerUrl: https://17ae1d2cfa8f47f486b1b6fda3ed9f43.apm.us-west-2.aws.found.io

# API resource configuration
apiCpuRequests: 0.5
apiMemoryRequests: 1.5Gi

# Worker resource configuration
workerCpuRequests: 2
workerMemoryRequests: 8Gi

# Nginx resource configuration
webCpuRequests: 0.25
webMemoryRequests: 512Mi

# GCP zone for this set of workers
workerZone: us-west1-c

# Assigned volumes for each worker (max 64TB)
workerDiskSize:
  - id: projects/hs-openneuro/zones/us-west1-c/disks/openneuro-prod-worker-datasets-0
    size: 9000Gi
  - id: projects/hs-openneuro/zones/us-west1-c/disks/openneuro-prod-worker-datasets-1
    size: 9000Gi
  - id: projects/hs-openneuro/zones/us-west1-c/disks/openneuro-prod-worker-datasets-2
    size: 7000Gi
  - id: projects/hs-openneuro/zones/us-west1-c/disks/openneuro-prod-worker-datasets-3
    size: 9000Gi

# Disable Redis password for testing
redis:
  image:
    registry: docker.io
    repository: bitnamilegacy/redis
    tag: 8.2.1
  architecture: standalone
  auth:
    enabled: false
  master:
    disableCommands: []
    resources:
      requests:
        cpu: "0.5"
        memory: "2Gi"
