@import '../../scss/variables';
@import '../scss//normalize';
@import '../scss//helper-classes';
@import '../scss//flex-grid';
@import '../scss/toasts.scss';
@import '../scss/global.scss';
@import '../scss/upload-modal';

.page {
  min-height: 400px;
}
.text-danger {
  color: $on-light-red;
}
.loading-dataset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.warning-text {
  color: $on-light-red;
}

// admin page
.admin.route-wrapper {
  margin: 20px auto;
  max-width: 1500px;
  width: 90%;
  .nav-pills.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    li a {
      padding: 20px;
      display: block;
    }
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//api page

.container.api {
  width: 767px;
  margin: 40px auto 80px;
  max-width: 90%;
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 50px;
  }
  pre {
    white-space: normal;
    word-break: break-all;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .copy-key.ck-wrap {
    margin: 30px;
    display: flex;
    justify-content: center;
  }
  .on-button--primary.on-button {
    margin: 10px auto;
    display: block;
  }
}

.feedback-form.feedback-modal .grid.modal {
  width: 670px;
  max-height: 80%;
}

.edit-description-field {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.description-btn {
  color: var(--current-theme-primary);
  &:hover {
    text-decoration: underline;
  }
}
.dataset-header .description-btn {
  color: var(--current-theme-primary-light);
}

.edit-list-group-item,
.edit-list-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  .on-button--small {
    padding: 10px;
    margin-left: 10px;
  }
}

.edit-list-group-item {
  align-items: center;
  padding: 5px;
  .on-no-background.icon-text,
  .on-no-background.img-icon-text {
    padding: 0;
    margin-left: 5px;
  }
}

.update-field-save {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

//file tree

.filetree-wrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin-bottom: 25px;

  .accordion-content {
    margin: 0;
  }
  .accordion-item {
    overflow: visible;
  }
  .accordion-item.collapsed {
    display: none;
  }

  .filetree-item {
    list-style-type: none;
    padding: 10px 0 10px 15px;
    border-left: 1px solid #e3e3e3;
    font-size: 14px;
    > div {
      margin-bottom: 10px;
    }
  }
  > div > .filetree-item:first-of-type {
    border-left: 0;
    padding-right: 15px;
  }

  .filetree-dir .filetree-file:last-of-type {
    padding-bottom: 0;
  }
  .filetree-item:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
  }
  .filetree-dir-tools {
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
  }
  button.btn-warn-component {
    padding: 0;
    i {
      font-size: 16px;
    }
  }

  .filetree-dir {
    display: flex;
    margin-left: auto;
    justify-content: flex-start;
    line-height: 10px;
    .file-tree {
      width: 100%;
    }
    > span,
    > div {
      margin-left: 10px;
      display: flex;
      font-size: 12px;
      text-align: center;
      width: auto;
      position: relative;
      align-items: center;
      cursor: pointer;
      height: 20px;
      i {
        font-size: 12px;
        margin-right: 5px;
      }
      &.delete-file {
        margin-left: auto;
      }
      input {
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        cursor: pointer;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
      }
      .warn-btn-click {
        button {
          font-size: 12px;
        }
      }
    }

    button.btn-warn-component.success,
    button.btn-warn-component.cancel {
      margin: 0 2px 0;
      font-size: 10px;
      height: 20px;
      width: 20px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 11px;
        color: #fff;
        margin: 0;
      }
    }
  }

  .filetree-editfile {
    display: flex;
    margin-left: auto;
    justify-content: flex-start;
    line-height: 10px;
    > div,
    > span {
      margin-left: 10px;
      display: flex;
      font-size: 12px;
      text-align: center;
      width: auto;
      position: relative;
      align-items: center;
      cursor: pointer;
      height: 20px;
      &.fresnel-greaterThanOrEqual-medium {
        @media (max-width: 767px) {
          margin: 0;
        }
      }
      i {
        font-size: 12px;
        margin-right: 0;
      }
      &.delete-file {
        margin-left: auto;
      }
      input {
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        cursor: pointer;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
      }
      .warn-btn-click {
        button {
          font-size: 12px;
        }
      }
    }

    button.btn-warn-component.success,
    button.btn-warn-component.cancel {
      margin: 0 2px 0;
      font-size: 10px;
      height: 20px;
      width: 20px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 11px;
        color: #fff;
        margin: 0;
      }
    }
  }

  ul.child-files {
    margin: 0;
    padding: 0;
  }

  .filetree-file {
    display: flex;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }

  .bulk-delete-checkbox-group,
  .edit-file {
    i {
      color: var(--current-theme-primary);
    }
  }
  .bulk-delete-checkbox-group {
    label {
      display: flex;
      align-items: center;
    }
    &.added-to-bd {
      i {
        color: $on-light-red;
      }
    }
  }
  .added-to-bulk {
    font-size: 10px;
    margin-left: 10px;
  }
}
