@import '../scss/variables';
@import '../scss/helper-classes';
@import '../scss/flex-grid';

div {
  box-sizing: border-box;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  font-family: $font-sans;
  min-height: 100vh;
  padding: 0;
}
