@import '../../scss/variables';

.on-button {
  font-family: $font-sans;
  font-weight: 600;
  border: 0;
  border-radius: $border-radius-default;
  cursor: pointer;
  display: inline-block;
  line-height: 1.4em;
}

.on-button--primary {
  color: #fff;
  background-color: var(--current-theme-primary);
  transition: background-color 0.3s;
  border: 2px solid transparent;
  &:hover {
    background-color: var(--current-theme-primary-hover);
  }
  &.active {
    background-color: transparent;
    color: var(--current-theme-primary);
    border-color: var(--current-theme-primary-hover);
  }
}

.on-button--secondary {
  color: $on-dark-aqua;
  background-color: $on-light-green;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
  border: 2px solid transparent;
  &:hover {
    background-color: darken($on-light-green, 5%);
  }
  &.active {
    background-color: transparent;
    color: $on-dark-aqua;
    border-color: $on-light-green;
  }
}
.on-button--ghost {
  color: $on-dark-aqua;
  background-color: transparent;
  text-transform: uppercase;
  transition: background-color 0.3s;
  box-shadow:none;
  border: 2px solid transparent;
  &:hover,
  &.active {
    background-color: transparent;
    color: $on-dark-aqua;
    border: 2px solid $on-dark-aqua;
  }
}

.icon-text {
  display: flex;
  align-items: center;
  i {
    margin-right: 10px;
  }
}

.img-icon-text {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
    height: auto;
  }
}

.on-no-background {
  background-color: transparent;
  &:hover {
    text-decoration: underline;
  }
  &.icon-text,
  &.img-icon-text {
    padding: 0 0 5px;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}
.on-button--default {
  background-color: transparent;
}

.on-button--navbar {
  background-color: #f4f4f4;
  color: #204e5a;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
  &:hover {
    background-color: darken(#f4f4f4, 5%);
  }
}

.on-button[disabled] {
  cursor: default;
  background-color: #aaa;
  color: #777;
}

.on-button--xsmall {
  font-size: 10px;
  padding: 5px 8px;
}

.on-button--small {
  font-size: 12px;
  padding: 11px 14px;
}

.on-button--medium {
  font-size: 14px;
  padding: 14px 20px;
}

.on-button--large {
  font-size: 18px;
  padding: 15px 24px;

  &.on-button--navbar {
    font-size: 14px;
    padding: 18px 24px;
  }
}

.login-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 20px;
}

.button-group-wrapper {
  position: relative;
  .btn-group {
    justify-content: flex-start;
    button {
      margin: 0 10px 0 0;
    }
    .tooltip {
      display: inline-block;
    }
  }
}

.load-more {
  .on-button {
    display: block;
    border: 1px solid;
    width: 100%;
    background-color: #fff;
    transition: background-color 0.3s;
    &:hover {
      text-decoration: none;
      background-color: $newspaper;
    }
  }
}