.admin {
    .dashboard-dataset-teasers {
        padding-bottom: 0;
    }

    .form-group label {
        color: $c-77;
        font-size: 10px;
        position: absolute;
        top: 3px;
        right: 5px;
    }

    h2 {
        padding: 0 20px;
    }

    &.blacklist {
        h2 {
            float: left;
        }

        .dashboard-dataset-teasers .btn-blue {
            float: right;
            width: 100px;
            padding: 10px;
            font-size: 12px;
            margin: 0 10px;
        }

        .no-results {
            border-top: 1px solid $eee;
            padding: 10px 15px;
            margin: 0 -15px;
        }
    }

    .add-user {
        padding-left: 0;
    }

    .users-panel-wrap {
        margin: 20px 0 0;

        h2 {
            margin: 0 -15px;
            padding: 20px;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 100;
            border-bottom: 1px solid $e1;
        }

        .user-panel,
        .user-panel-header {
            @include border-radius(0);
            margin: 0 -15px;
            border: 0;
            border-top: 1px solid $e1;
            box-shadow: none;
            padding: 0;
        }

        .user-panel-header {
            border-top: 0;
        }

        .user-col {
            padding: 10px 15px;

            label {
                font-weight: bold;
                text-transform: uppercase;
            }

            h3 {
                margin: 0;
                font-size: 15px;

                .badge {
                    font-weight: 100;
                    text-align: right;
                    color: $c-9e;
                    font-size: 10px;
                    background-color: $transparent;
                }

                .btn {
                    padding: 0;
                }

            }

            &.last {
                overflow: hidden;

                h3 {
                    text-align: right;
                    padding: 0;
                }

                &.delete-data {
                    vertical-align: middle;
                    display: block;
                    text-align: right;
                    font-size: 13px;
                    text-transform: uppercase;
                    margin-top: 5px;
                    overflow: hidden;
                }

                .btn-admin.warning {
                    padding: 10px 15px;
                }

                .btn-admin.delete {
                    border: 0;
                    color: $white;
                    background-color: $brand-danger;
                    padding: 10px 15px;

                    &:hover {
                        background: darken($brand-danger, 10%);
                    }
                }

                .btn-admin.cancel {
                    padding: 10px 15px;
                }
            }
        }
    }
}
