// Pagination Pager // ================================================================
.pager-wrapper {
    text-align: center;

    .pagination > li {

        a,
        span {
            transition: all .3s ease-out;
            color: $sky;
        }

        &:first-child>,
        &:last-child > {

            a,
            span {
                border-radius: 0;
            }
        }

        &.active {

            a,
            span {
                background: darken($sky, 10%);
                -webkit-transition: all .3s ease-out;
                -moz-transition: all .3s ease-out;
                transition: all .3s ease-out;
                color: $white;

                &:hover {
                    background: darken($sky, 10%);
                    -webkit-transition: all .3s ease-out;
                    -moz-transition: all .3s ease-out;
                    transition: all .3s ease-out;
                    color: $white;
                }
            }
        }
    }
}
