.analyses {

        &.no-jobs{
            h2{
                text-align: center;
            }
        }

        .explore-more {
            padding: 20px 0 0;
            text-transform: uppercase;
        }

        .jobs {
            @include border-radius(0);

            .panel-heading {
                padding: 0;

                .panel-title {
                    @extend %clearfix;
                    padding: 0;
                    display: block;
                    background: lighten($eee, 10%);

                    > a {
                        padding: 10px;
                        display: block;
                        font-size: 14px;

                        &::after {
                            content: '\f0d8';
                            font-family: FontAwesome;
                            float: right;
                            font-size: 12px;
                            margin-top: 3px;
                        }

                        &.collapsed {

                            &::after {
                                content: '\f0d7';
                            }
                        }
                    }

                }
            }
        }

        .job {
            @include border-radius(0);
            margin-bottom: 10px;

            &.border-flash{
                border: 1px solid $yellow;
                @include animation(border-flash .6s 5);

                 .panel-heading {
                    background: $honey;
                    @include animation(background-flash .6s 5);
                }
            }

            .job-log {
                display: block;

                .exit-code {
                    font-size: 12px;
                }

                .fail {
                    color: $brand-danger
                }
            }

            .panel-heading {
                padding: 0;
                background: none;

                .panel-title {
                    @extend %clearfix;
                    padding: 10px;
                    display: block;
                    background: none;

                    label {
                        margin: 0;
                        padding: 0 5px;
                        text-transform: uppercase;
                        font-size: 12px;
                    }

                    strong {
                        color: $c-66;
                    }

                    .meta,
                    .badge {
                        background: none;
                        color: $c-9e;
                        font-size: 12px;

                        .ellipsis-animation span {
                            color: $c-9e !important;
                        }
                    }

                    .meta label {
                        text-transform: none;
                    }
                }
                .succeeded .badge,
                .finished .badge {
                    color: $brand-success;
                }

                .failed .badge {
                    color: $brand-danger;
                }
            }

            .panel-body .inner {
                margin: -15px;
                display: block;
            }
            .file-structure.panel-group .panel-default .panel-collapse .panel-body > ul {
                height: auto;
            }
            .filetree-editfile {
                height: 20px;
                float: none;
                width: 100%;
                display: block;
                margin: 5px 0 0;

                .btn-warn-load {
                    padding: 0px;
                    margin: 0px;
                }
            }
            .results {
                margin: 0;

                .panel {
                    @include border-radius(0);
                    border: 0;
                    border-top: 1px solid $ccc;
                    .file-structure .panel{
                        border: 0;
                    }

                    .panel-heading .panel-title {
                        padding: 0;
                        background: lighten($misty, 10%);

                        a {
                            padding: 8px 15px;
                            display: block;
                            font-size: 14px;
                            text-transform: capitalize;

                            &::after {
                                content: '\f0d8';
                                font-family: FontAwesome;
                                float: right;
                                font-size: 12px;
                                margin-top: 3px;
                            }

                            &.collapsed {

                                &::after {
                                    content: '\f0d7';
                                }
                            }
                        }
                    }

                    ul {
                        padding: 0;
                        list-style: none;
                    }

                    .result-name {
                        padding-left: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1.3;
                    }

                    .result-options {
                        margin-top: 10px;
                        width: 210px;
                    }

                    .btn-warn-component,
                    .warning.btn-warn-component {
                        @extend %btn-admin;
                        @include border-radius(0);
                        font-size: 10px;
                        padding: 3px 5px;
                        margin: 0;
                        background: none;
                        border: 0;
                        color: $sky;

                        i {
                            margin: 0 0 0 2px;
                            line-height: 0;
                        }

                        &:hover,
                        &:active,
                        &.hover,
                        &.active {
                            background: $e1;
                            color: $c-66;
                            transition: all .3s ease-out;
                        }

                        &:focus {
                            box-shadow: none;
                            outline: none;
                        }

                        &.cancel,
                        &.success {
                            background: $brand-danger;
                            color: $white;
                            font-size: 10px;
                            padding: 2px;
                            margin: 0 5px 0 0;
                            box-sizing: border-box;
                            line-height: 10px;
                            width: 18px;
                            height: 15px;

                            i {
                                margin: 0;
                                line-height: 10px;
                            }

                            &:hover {
                                background: darken($brand-danger, 10%);
                            }
                        }

                        &.success {
                            margin-right: 0;
                            background: $brand-success;

                            &:hover {
                                background: darken($brand-success, 10%);
                            }
                        }
                    }
                    ul .btn-warn-load {
                        margin: 0px;
                        padding: 0px;
                        font-size: 12px;
                    }
                    .download-all {
                        overflow: hidden;
                        display: inline-block;
                        .btn-warn-component,
                        .warning.btn-warn-component {
                            font-size: 14px;
                            margin: 0;
                            &.cancel,
                            &.success {
                                font-size: 14px;
                                padding: 8px;
                                margin: 0 5px 12px 0;
                                box-sizing: border-box;
                                line-height: 6px;
                                width: 35px;
                                height: 26px;
                            }
                        }
                        .btn-warn-load {
                            margin-bottom: 6px;
                            padding: 0px 0px 10px 0px;
                        }
                    }

                    .panel-body li {
                        height: auto;
                        border-top: 1px solid $eee;
                        padding: 5px 0;
                        .value span {
                            padding-left: 5px;
                            display: inline-block;
                        }
                        &:last-child {
                            border-bottom: 1px solid $eee;
                        }
                    }
                }
            }
        }
}


.validation {
    .validation-wrap {

        .status {
            @include border-radius(0);
            margin-bottom: 10px;

            .panel-heading {
                padding: 0;
                background: none;

                .panel-title {
                    @extend %clearfix;
                    padding: 0;
                    display: block;
                    background: none;

                    .dataset-status {
                        font-size: 18px;
                        padding: 10px;
                        display: block;
                        float: left;
                        width: auto;
                        text-align: left;
                        margin-left: 40px;
                        line-height: 30px;

                        i {
                            font-size: 30px;
                            position: absolute;
                            left: -25px;
                        }
                    }

                    .label {
                        @include border-radius (0);
                        text-transform: uppercase;
                        margin: 10px 3px 10px 0;
                        padding: 8px 5px;
                        font-size: 14px;

                        &.text-warning {
                            color: darken($brand-warning, 10%);
                        }

                    }

                    strong {
                        color: $c-66;
                    }

                    .meta,
                    .badge {
                        background: none;
                        color: $c-9e;
                        font-size: 12px;
                    }

                    .meta label {
                        text-transform: none;
                    }

                    &.super-valid {
                         a{
                            cursor: default;
                        }
                    }
                }

                .finished .badge {
                    color: $brand-success;
                }
            }

            .panel-body .inner {
                margin: -15px;
                display: block;
            }

            .results {
                margin: 0;

                .panel {
                    @include border-radius(0);
                    border: 0;
                    border-top: 1px solid $ccc;

                    .panel-heading .panel-title {
                        padding: 0;
                        background: lighten($misty, 10%);

                        a {
                            padding: 8px 15px;
                            display: block;
                            font-size: 14px;

                            &::after {
                                content: '\f0d8';
                                font-family: FontAwesome;
                                float: right;
                                font-size: 12px;
                                margin-top: 3px;
                            }

                            &.collapsed {

                                &::after {
                                    content: '\f0d7';
                                }
                            }
                        }
                    }

                    ul {
                        padding: 0;
                        list-style: none;
                    }

                    .result-name {
                        padding-left: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1.3;
                    }

                    .warning-btn-wrap {
                        display: inline-block;
                        overflow: hidden;
                        vertical-align: middle;
                        text-align: right;

                        .btn-warn-component {
                            overflow: hidden;
                            line-height: 1.3;

                            i {
                                line-height: 1;
                            }
                        }

                        .cancel,
                        .success {
                            padding: 2px 4px;
                            line-height: 1.1;
                            margin: 0;
                            vertical-align: middle;

                            i {
                                line-height: 1;
                            }
                        }

                        .cancel {
                            margin-right: 5px;
                        }
                    }
                    //     width: 50px;
                    //     text-align: center;
                    //     overflow: hidden;
                    //     display: inline-block;
                    //     line-height: 1.1;
                    //     vertical-align: middle;
                    //     font-size: 14px;
                    //     margin: 7px 5px 5px 0;
                    //     height: 20px;

                    //     .btn-warn-component {
                    //         line-height: 1.2;

                    //         i {
                    //             line-height: 1.2;
                    //         }

                    //         &.warning,
                    //         &.success,
                    //         &.cancel {
                    //             margin-top: 0;
                    //             padding: 1px 3px;

                    //             i {
                    //                 line-height: 1.2;
                    //             }

                    //         }
                    //     }
                    // }

                    // .btn-warn-component {

                    //     i {
                    //         line-height: 1.2;
                    //     }

                    //     // .warning {
                    //     //     width: 50px;
                    //     //     text-align: center;
                    //     //     overflow: hidden;
                    //     //     display: inline-block;
                    //     //     line-height: 1.1;
                    //     //     vertical-align: middle;
                    //     //     font-size: 14px;
                    //     //     margin: 7px 5px 5px 0;
                    //     //     height: 20px;

                    //     //     button {
                    //     //         padding: 0;
                    //     //         line-height: 1.1;
                    //     //         display: inline-block;
                    //     //         margin: 5px 0;
                    //     //     }
                    //     // }
                    // }

                    .panel-body li {
                        height: auto;
                        border-top: 1px solid $eee;
                        padding: 5px 0;

                        &:last-child {
                            border-bottom: 1px solid $eee;
                        }
                    }
                }
            }
        }
    }
}

.incomplete-dataset {
    .incomplete-wrap {

        .fileupload-btn{
            width: 104px;
            margin: 5px;
            float: right
        }

        .status {
            @include border-radius(0);
            margin-bottom: 10px;

            .panel-heading {
                padding: 0;
                background: none;

                .panel-title {
                    @extend %clearfix;
                    padding: 0;
                    display: block;
                    background: none;

                    .dataset-status {
                        font-size: 18px;
                        padding: 10px;
                        display: block;
                        float: left;
                        width: auto;
                        text-align: left;
                        margin-left: 40px;
                        line-height: 30px;
                        i {
                            font-size: 30px;
                            position: absolute;
                            left: -25px;
                        }
                    }

                    .label {
                        @include border-radius (0);
                        text-transform: uppercase;
                        margin: 10px 3px 10px 0;
                        padding: 8px 10px;
                        font-size: 14px;

                        &.text-warning {
                            color: darken($brand-warning, 10%);
                        }

                    }

                    strong {
                        color: $c-66;
                    }

                    .meta,
                    .badge {
                        background: none;
                        color: $c-9e;
                        font-size: 12px;
                    }

                    .meta label {
                        text-transform: none;
                    }

                    &.super-valid {
                         a{
                            cursor: default;
                        }
                    }
                }

                .finished .badge {
                    color: $brand-success;
                }
            }

            .panel-body .inner {
                margin: -15px;
                display: block;
            }

            .results {
                margin: 0;

                .panel {
                    @include border-radius(0);
                    border: 0;
                    border-top: 1px solid $ccc;

                    .panel-heading .panel-title {
                        padding: 0;
                        background: lighten($misty, 10%);

                        a {
                            padding: 8px 15px;
                            display: block;
                            font-size: 14px;


                            &::after {
                                content: '\f0d8';
                                font-family: FontAwesome;
                                float: right;
                                font-size: 12px;
                                margin-top: 3px;
                            }

                            &.collapsed {

                                &::after {
                                    content: '\f0d7';
                                }
                            }
                        }
                    }

                    ul {
                        padding: 0;
                        list-style: none;
                    }

                    .result-name {
                        padding-left: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1.3;
                    }

                    .warning-btn-wrap {
                        display: inline-block;
                        overflow: hidden;
                        vertical-align: middle;
                        text-align: right;

                        .btn-warn-component {
                            overflow: hidden;
                            line-height: 1.3;

                            i {
                                line-height: 1;
                            }
                        }

                        .cancel,
                        .success {
                            padding: 2px 4px;
                            line-height: 1.1;
                            margin: 0;
                            vertical-align: middle;

                            i {
                                line-height: 1;
                            }
                        }

                        .cancel {
                            margin-right: 5px;
                        }
                    }
                    //     width: 50px;
                    //     text-align: center;
                    //     overflow: hidden;
                    //     display: inline-block;
                    //     line-height: 1.1;
                    //     vertical-align: middle;
                    //     font-size: 14px;
                    //     margin: 7px 5px 5px 0;
                    //     height: 20px;

                    //     .btn-warn-component {
                    //         line-height: 1.2;

                    //         i {
                    //             line-height: 1.2;
                    //         }

                    //         &.warning,
                    //         &.success,
                    //         &.cancel {
                    //             margin-top: 0;
                    //             padding: 1px 3px;

                    //             i {
                    //                 line-height: 1.2;
                    //             }

                    //         }
                    //     }
                    // }

                    // .btn-warn-component {

                    //     i {
                    //         line-height: 1.2;
                    //     }

                    //     // .warning {
                    //     //     width: 50px;
                    //     //     text-align: center;
                    //     //     overflow: hidden;
                    //     //     display: inline-block;
                    //     //     line-height: 1.1;
                    //     //     vertical-align: middle;
                    //     //     font-size: 14px;
                    //     //     margin: 7px 5px 5px 0;
                    //     //     height: 20px;

                    //     //     button {
                    //     //         padding: 0;
                    //     //         line-height: 1.1;
                    //     //         display: inline-block;
                    //     //         margin: 5px 0;
                    //     //     }
                    //     // }
                    // }

                    .panel-body li {
                        height: auto;
                        border-top: 1px solid $eee;
                        padding: 5px 0;

                        &:last-child {
                            border-bottom: 1px solid $eee;
                        }
                    }
                }
            }
        }
    }
}


.snapshot .dataset-inner .analyses .file-structure.panel-group .panel-default .panel-body > ul{
    border: 0;
}
