
// left flyout nav
.left-nav {
    padding: 0;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 1300;

    .show-nav-btn {
        display: block;
        width: 60px;
        font-size: 12px;
        text-align: center;
        margin: 5px 0;
        cursor: pointer;
        color: $white;
    }

    .left-nav-slider {
        z-index: 1200;
        background-color: $c-56;
        border-right: 1px solid $c-56;
        display: block;
        position: relative;
        height: 100%;
        overflow: hidden;
        transition: all .5s ease;
        width: 65px;
        padding: 0;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 360px;

            a {
                padding: 0 7px 2px;
                font-size: 38px;
                background-color: transparent;
                color: $misty;
                width: 100%;
                display: block;
                text-decoration: none;
                border-bottom: 1px solid $c-9e;
                transition: background .4s ease;

                i {
                    border-right: 1px solid $bbb;
                    padding: 20px 10px 10px 2px;
                    width: 60px;
                    text-align: center;
                    font-size: 32px;
                    margin: 0;
                    position: relative;
                    height: 70px;
                }

                .link-name {
                    font-size: 19px;
                    padding: 0 18px;
                    text-transform: uppercase;
                    display: inline-block;
                    position: relative;
                    top: -5px;
                }

                &:hover {
                    text-decoration: none;
                    background: $transparent1;
                    color: $white;
                }

                &.active {
                    background-color: $stanford-red;
                    //@include gradient-vertical($start-color: $ocean, $end-color:lighten($ocean, 5%), $start-percent: 40%, $end-percent: 100%);
                    box-shadow: inset 0 0 5px $transparent5;

                    color: $white;

                    i {border-right: 1px solid darken($ocean, 5%);}
                }
            }

        }
    }

    .open {
        .left-nav-slider {
            box-shadow: 1px 1px 3px -1px $transparent1;
            border: 0;
            width: 350px;
        }
    }
}
