
//Alerts // ================================================================
.alert {
    @include border-radius(0);
    font-size: 14px;
    background: $black;
    border: 0;
    padding: 10px 40px 10px 20px;
    color: $d9;
    z-index: 9000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 18px;
    width: 100%;

    .alert-left {
        padding-left: 20px;

        a {
            text-decoration: underline;
            color: $brand-info;
            &:hover {color: lighten($brand-info, 10%);}
        }
    }

    .dismiss-button-x {
        position: absolute;
        top: 6px;
        left: 0;
        background: none;
        border: 0;
        color: $brand-info;
        &:hover {color: lighten($brand-info, 10%);}
    }

    .close {
        @include opacity(1);
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        text-shadow: none;
        position: relative;
        right: -35px;
        top: -2px;
    }

    &.alert-danger {
        color: lighten($brand-danger, 10%);
        strong {color: lighten($brand-danger, 10%);}
        a {text-decoration: underline;}
        a,
        .dismiss-button-x,
        .close {
            color: lighten($brand-danger, 10%);
            &:hover {color: lighten($brand-danger, 2%);}
        }
    }

    &.alert-warning {
        color: $brand-warning;
        strong {color: $brand-warning;}
        a {text-decoration: underline;}
        a,
        .dismiss-button-x,
        .close {
            color: $brand-warning;
            &:hover {color: lighten($brand-warning, 10%);}
        }
    }
}




