.searchInputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.clearSearchButton {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  color: #888;

  &:hover {
    color: #333;
  }
}

.searchControl {
  display: flex;
  input[type='text'] {
    padding-right: 25px;
  }
  // .searchSubmitButton{
  // }
}


// .gridHead,
// .gridTable {
//   display: flex;
//   margin: 0;
//   .sortButton,
//   .headingCol,
//   .gtCell {
//     flex:1;
//     background: none;
//     border:0;
//     border-right: 1px solid #ddd;
//     border-bottom: 0;
//     min-height: 50px;
//     padding: 10px;
//     &:last-child{
//       border-right: 0;
//     }
//     &.small{
//       max-width: 120px;
//     }
//   }
// }

// .gridHead {
//   .sortButton,
//   .headingCol {
//     flex:1;
//     background: none;
//     border: 1px solid #ddd;
//     border-bottom: 0;
//     min-height: 50px;
//     padding: 10px;
//     &:last-child{
//       border-right: 1px solid #ddd;
      
//     }
//   }
// }

.gridContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex; /* Make the container a flex container */
  flex-direction: column; /* Stack header and rows vertically */
}

.gridHead,
.gridRow {
  display: flex;
  margin: 0;
  width: 100%; 
  box-sizing: border-box;
}

.sortButton{
  cursor: pointer;
}
.gridHead {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  .sortButton,
  .headingCol {
    
    min-height: 50px;
    padding: 10px;
    background-color: #f0f0f0;
    border:0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 

    
    &.colSmall {
      flex: 0 0 180px; 
    }
    &.colLarge {
      flex: 0 0 250px; 
    }
    &.colFlex {
      flex: 1; 
      min-width: 100px; 
    }
  }
}

.gridRow {
  border-left: 1px solid #ddd;
  .gtCell {
    
    min-height: 50px;
    padding: 10px;
    background-color: #fff;
    border: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 

    
    &.colSmall {
      flex: 0 0 180px;
    }
    &.colLarge {
      flex: 0 0 250px;
    }
    &.colFlex {
      flex: 1;
      min-width: 100px;
    }
  }
}

.gridRow:hover {
  background-color: #f9f9f9;
}

.gridContainer .gridRow:last-child .gtCell {
  border-bottom: 1px solid #ddd;
}

.badge {
  font-size: 10px;
  padding: 4px;
  border-radius: 5px;
  background: blue;
  color: #fff;
  &.admin {
    background: #127d00;
  }
  &.blocked {
    background: rgb(192, 3, 66);
  }
}

.user-panel-inner {
  display: flex;
  justify-content: space-between;
}

.usersWrap {
  margin: 0;
  padding: 0;
  .userPanel {
    margin: 0;
    //border: 1px solid #ddd;
    // &:last-child{
    //   border-bottom: 1px solid #ddd;
    // }
    border-bottom: 0;
    list-style: none;
    h3 {
      margin: 0;
      [data-tooltip] {
        display: inline;
        font-size: 10px;
      }
    }

    .tools {
      display: flex;
      button {
        background-color: transparent;
        border: 0;
        outline: 0;
        font-size: 12px;
        line-height: 14px;
        width: auto;
        height: auto;
        i {
          font-size: 14px;
        }
      }
    }
  }
}

.summaryFooter {
  display: flex;
  justify-content: space-between;
}
