.chart-header {
    h2 {
        text-align: center;
    }
}

div.chart {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    * {
        text-align: center;
    }
  }