//navbar // ================================================================
@include keyframes(alertown) {
    0% {transform: translateY(-50px);}
    100% {transform: translateY(0);}
}

.full-col {
    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1300;
        border-top: 10px solid $stanford-red;
    }
}

.alert-state-true {
    -webkit-transition: transform .5s;
    transition: transform .5s;
    transform: translateY(50px);
}

.nav-alert-state-true .alert {
    animation: alertDown .5s;
    height: 50px;
}


.navbar-default {
    background: $c-33;
    color: $misty;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    z-index: 1300;
    .container{
        padding: 0;
        .navbar-collapse{
            padding: 0;
        }
    }

    .main-nav.navbar-nav {
        > li {
            > .navbar-collapse {
                padding: 0;
            }
            > .link {
                border: 1px solid transparent;
                padding: 10px;
                color: $misty;
                margin: 17px 0;
                border-radius: 2px;
                transition: border .5s ease;
                margin-left: 10px;

                &:hover {
                    color: $stone;
                    border-color: $stone;
                }

                &.active {
                    color: $misty;
                    border-color: $misty;
                }
            }
        }

        &.main-nav {
            float: right;

            .nav-link {
                width: 110px;
                height: 75px;
                line-height: 75px;
                text-align: center;
                display: block;
                padding: 0 10px;
                color: $misty;
                background: $transparent;
                -webkit-transition: all .5s;
                transition: all .5s;

                .link-name {
                    width: 100%;
                    font-size: 14px;
                    text-transform: uppercase;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: normal;
                    border-bottom: 3px solid $transparent;
                }




                &:focus,
                &:active,
                &.active {
                    color: $white;
                    background: $transparent05-w;
                }

                &:hover {

                    .link-name {
                        border-color: $transparent1-w;
                    }
                 }

                i {
                    // display: block;
                    // width: 100%;
                    // text-align: center;
                    // font-size: 21px;
                }
            }

            .active-signin {
              margin: 15px 20px;
            }

            .login-nav-right {
                cursor: pointer;
                margin-right: 25px;
                @media(max-width: 767px){
                    margin: 0;
                }

                span.arrow {
                    display: inline-block;
                    vertical-align: middle;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 5px 0 5px;
                    border-color: rgba(250,250,250, 0.3) transparent transparent transparent;
                  }

                .dropdown-login {
                  background: $white;
                  overflow: hidden;
                  position: absolute;
                  width: 180px;
                  z-index: 1;
                  top: 70px;
                  padding: 10px;
                  right: 0;
                  left: auto;
                  border-radius: 0;
                  box-shadow: 1px 2px 4px -3px $transparent7;
                  border-color: $f4;
                  button {
                    display: block;
                    margin: 5px;
                    width: 84%;
                  }
                  hr {
                    margin: 0;
                  }
                }
            }

            .user-wrap {
                margin: 0;
                height: 75px;
                vertical-align: middle;
                width: 75px;
                border-left: 2px solid $c-56;
                background: $c-21;

                .greeting {text-transform: uppercase;}
            }



            .upload-btn-wrap {
                // float: left;
                // width: 220px;
                // margin: 0 30px;
                .nav-link.nl-upload {
                    width: 180px;
                    padding: 0 15px;
                    background: $transparent3;
                    color: lighten($sky, 10%);

                    .link-name {
                        border-color: $transparent;
                    }

                    &.nl-progress {
                        .link-name {
                            margin-top: -20px;
                        }

                        .progress {
                            margin-top: -30px;
                            height: 10px;
                            position: relative;
                        }

                        .progress-bar-warning {
                            background: $brand-warning;
                        }
                    }

                    &:hover,
                    &:focus,
                    &:active,
                    &.active {
                        color: $white;
                        background: $sky;

                    }
                }
                // .btn-blue {
                //     margin: 15px 0;

                //     &.btn-view-progress {margin: 9px 0 0;}

                // }
            }


            .user-img-thumb {
                width: 75px;
                height: auto;
                overflow: hidden;
                //box-shadow: 1px 2px 3px -2px rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                right: 0;
            }


            .dropdown {
                position: initial;

                &.btn-group {
                    .btn {
                        background: $transparent;
                        box-shadow: none;
                        outline: none;
                        border: 0;
                        border-radius: 0;
                        padding: 0;
                        text-align: center;
                        margin: 0;
                        color: $white;
                        position: absolute;
                        right: 0;
                        left: auto;
                        width: 75px;
                        height: 75px;
                        top: 0;

                        .caret {display: none;}

                        i {
                            top: 0;
                            right: 0;
                            position: absolute;
                            padding: 0;
                            background-color: $transparent3;
                            width: 30%;
                            height: 30%;
                            line-height: 25px;
                            transition: all .3s ease;
                        }

                        &.active,
                        &:active,
                        &:hover,
                        &.hover,
                        &:focus {

                            i {
                                transition: all .3s ease;
                                background-color: $transparent3;
                                width: 100%;
                                height: 100%;
                                line-height: 75px;
                            }
                        }
                    }

                    &.open {
                        .btn {
                            background: $transparent3;
                            box-shadow: none;
                            outline: none;
                            border: 0;
                        }
                    }
                }

                .dropdown-toggle {padding: 25px 15px;}

                .dropdown-menu {
                    background-color: $white;
                    padding: 20px 15px 0;
                    margin: 0;
                    border-radius: 0;
                    box-shadow: 1px 2px 4px -3px $transparent7;
                    border-color: $f4;
                    right: 0;
                    left: auto;

                    .dropdown-header {
                        width: 100%;
                        text-align: center;
                        padding: 10px 0;
                    }

                    // img {
                    //     width: 100px;
                    //     margin: 0 auto;
                    //     display: block;
                    // }
                    .btn-submit-other {
                        margin-bottom: 15px;
                        color: $sky;
                        border-color: $transparent;

                        &:hover,
                        &.active {
                            border-color: $transparent;
                            color: darken($sky, 10%);
                            background: $eee;
                        }
                    }
                    // .um-sign-out {
                    //     width: auto;
                    //     margin: 0;
                    //     display: block;
                    //     text-align: center;
                    //     font-size: 12px;
                    //     border: 0;
                    //     padding: 0;
                    //     color: $primary;
                    // }

                    // .um-icon {
                    //     font-size: 20px;
                    //     background-color: $transparent;
                    //     margin: 2px 0 10px;
                    //     padding: 0;
                    //     float: left;

                    //     a {
                    //         display: inline;
                    //         padding: 3px;
                    //         margin: 0;
                    //         background-color: $transparent;
                    //         color: $c-77;

                    //         &:hover {color: $primary;}

                    //         &.active {color: darken($c-77, 5%);}
                    //     }
                    // }
                }
            }

            @media(max-width: 1000px){
              .nav-link{
                    padding: 0 10px;
                    max-width: 80px;

                    .link-name{
                        font-size: 12px;
                    }
                }
            }

            @media(max-width: 767px){
                float: none;
                width: 100%;
                &.nav > li{
                    float: none;
                    margin: 0;
                    width: 100%;

                    .nav-link{
                        float: none;
                        margin: 0;
                        max-width: initial;
                        width: 100%;
                        height: auto;
                        line-height: 0;
                        padding: 0;
                        .link-name{
                            line-height: 30px;
                        }
                        &.nl-upload{
                            margin: 0;
                            width: auto;
                            line-height: 40px;
                        }
                    }
                }

                .user-img-thumb{
                    display: none;
                }

                .dropdown{
                    display: block;

                    .dropdown-menu{
                        display: block;
                        width: 100%;
                        position: relative;
                        margin: 0;
                        min-width: 0;
                        float: none;
                        padding: 0;

                    }
                    &.btn-group .btn{
                        display: none;
                    }
                }

                .user-wrap{
                    height: auto;
                    width: auto;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.navbar-brand {
    height: 75px;
    padding: 5px 20px;
    border: 0;

    @media(max-width: 1000px){
        padding: 15px 25px;
    }

    > img{
        display: block;
        width: 60px;
        height: 60px;
        float: left;

        @media(max-width: 1000px){
            width: 40px;
            height: 40px;
        }
    }

    .logo-text{
        display: block;
        font-size: 38px;
        color: #fff;
        margin: 12px 10px;
        float: left;

        @media(max-width: 1000px){
            font-size: 22px;
        }

        .logo-end{
            transition: color 0.3s;
            color: lighten($ocean, 12%);
        }
        &:hover{
            .logo-end{
                color: #fff;
            }
        }
    }
}
