@import '../../scss/variables';

// Common styles for portal headers (can be extended)
.search-page-portal-header,
.search-page-coms {
  .primary-content {
    font-weight: 300;
  }
  .secondary-content {
    font-weight: 300;
    margin-top: 25px;
    display: flex;
  }
}

.search-page-portal-header {
  position: relative;
  color: #fff;
  z-index: 1100;
  background-color: var(--current-theme-primary);
  background: linear-gradient(
    16deg,
    var(--current-theme-primary-dark) 0%,
    var(--current-theme-primary) 70%
  );

  @media (max-width: 980px) {
    z-index: 3;
  }

  .hex-col {
    margin: 50px 0 -30px auto;
    position: relative;
    align-self: flex-end;
    @media (max-width: 980px) {
      margin-left: 60px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .portal-primary {
      width: 100%;
      min-width: 100%;
      flex-basis: 100%;
    }
  }

  .primary-content {
    font-size: 24px;
    a {
      color: #fff;
    }
    @media (max-width: 450px) {
      font-size: 20px;
    }
  }
  .secondary-content {
    margin: 25px 0 50px; // This margin is specific to portal-header
    @media (max-width: 450px) {
      flex-direction: column;
      font-size: 17px;
    }
    .aggregate-count:first-child {
      margin-right: 60px;
    }
    span {
      font-weight: 600;
    }
  }
}

.search-page-coms {
  background-color: #f3f7f6;
  padding: 20px 0 40px;
  position: relative; // Only defined here for .search-page-coms

  h2 {
    font-size: 19px;
  }
  .primary-content {
    font-size: 19px;
  }
  .secondary-content {
    font-size: 15px;
  }
}

.search-hexagon {
  position: relative;
  width: 250px;
  height: 144.34px;
  margin: 72.17px 0;
  background-size: auto 288.6751px;
  background-position: center;

  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 176.78px;
    height: 176.78px;
    overflow: hidden;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 36.61px;

    &:after {
      content: '';
      position: absolute;
      width: 250px;
      height: 144.33756729740645px;
      transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
      transform-origin: 0 0;
      background: inherit;
    }
  }
  .hexTop {
    top: -88.3883px;
    &:after {
      background-position: center top;
    }
  }

  .hexBottom {
    bottom: -88.3883px;
    &:after {
      background-position: center bottom;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 250px;
    height: 144.3376px;
    z-index: 2;
    background: inherit;
  }
}

.search-shade-cube {
  margin: 0;
  position: absolute;
  height: 169px;
  width: 169px;
  transform-style: preserve-3d;
  transform: scale3d(1.05, 1.04, 1.04) rotateX(-36deg) rotateY(-45deg)
    rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
  z-index: 4;
  top: 69px;
  margin-left: 29px;

  > div {
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #000;
    font-weight: bold;

    &.front {
      transform: translateZ(69px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.32);
    }
    &.top {
      transform: rotateX(-270deg) translateY(-100px);
      transform-origin: top center;
    }
    &.right {
      transform: rotateY(-270deg) translateX(100px);
      transform-origin: top right;
      background-color: rgba(0, 0, 0, 0.53);
    }
  }
}

.search-heading {
  margin: 20px 0;
  @media (max-width: 450px) {
    margin-top: 60px;
  }
  h1 {
    margin: 0;
    @media (max-width: 450px) {
      font-size: 20px;
    }
  }
  .go-back {
    font-size: 14px;
  }
}

.search-wrapper {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
  min-width: 0;
  display: flex;
  position: relative;
  padding: 20px 35px;
}

.close-filters-btn,
.show-filters-btn {
  display: none; // Hidden by default

  @media (max-width: 980px) {
    display: block; // Show on smaller screens
    position: absolute;
    top: 20px;
    right: 0;
    background: none;
    border: 0;
    font-size: 12px;
    margin: 10px;
    padding: 0;
    z-index: 1100;
    cursor: pointer;
  }

  @media (max-width: 450px) {
    top: 0px;
    left: 0;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
}

// Specific placement for close button on smaller screens
@media (max-width: 450px) {
  .close-filters-btn {
    left: 20px;
  }
}

.search-nav {
  flex: 0 0 auto;
  padding: 20px 30px;
  width: 40%;
  max-width: 450px;

  @media (max-width: 980px) {
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateX(-100vw);
    background: white;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    overflow: scroll;
    position: fixed;
    z-index: 1205; // Higher z-index for fixed overlay
    top: 0;
    padding: 80px 25px;

    &.show-mobile-filters {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 1s;
      max-width: 100vw;
    }
  }

  .facet-accordion.on-accordion-wrapper {
    padding: 0;
  }

  .search-keyword {
    margin-bottom: 30px;
  }
}
@media (max-width: 980px) {
  .search-filters-open {
    z-index: 1200;
    position: relative;
  }
}

.search-content {
  flex: 1;
  padding: 20px 50px 20px 20px;
  position: relative;
  max-width: calc(100% - 450px - 380px);
  @media screen and (max-width: 1410px) {
    max-width: 100%;
  }
  @media (max-width: 980px) {
    padding: 0 10px;
  }
  .search-results {
    max-width: 100%;

    .search-result {
      border: 1px solid transparent;
      &:nth-child(odd) {
        background-color: var(--cloud);
      }
      &.expanded {
        border-top-color: var(--current-theme-primary-light);
        border-bottom-color: var(--current-theme-primary-light);
        background-color: var(--current-theme-primary-ultralight);
      }
    }
  }
}

.search-details {
  flex-grow: 1;
  max-width: 380px;
  @media screen and (max-width: 1410px) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 5000;
    padding: 20px;
    overflow-y: auto;
  }
}

.search-sort {
  display: flex;
  justify-content: flex-end;
}

.results-count {
  padding: 20px 0;

  span {
    color: var(--current-theme-primary);
  }
}

.date-facet .on-radio-wrapper.row .custom-radio {
  margin-right: 0;
  flex-basis: 50%;
}

.on-accordion-wrapper {
  .keyword-accordion {
    .accordion-title {
      background: #e9e9e9;
      width: 18px;
      border-radius: 50%;
      line-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      font-size: 12px;
      align-content: space-around;
      flex-direction: row;
      font-weight: 600;
      color: #515151;
      font-family: monospace;
      &:after {
        display: none;
      }
    }
    .accordion-content {
      font-size: 12px;
      margin: 10px 0;
      .on-icon {
        font-size: 10px;
        padding: 1px 4px;
        border-radius: $border-radius-default;
        line-height: 1;
        background-color: var(--current-theme-primary);
        color: #fff;
      }
    }
  }
  // Specific placement for keyword-accordion title
  .keyword-accordion .accordion-title {
    position: absolute;
    top: -20px;
    left: 70px;
  }
}

.facet-search .help-text {
  font-size: 12px;
  margin: 10px 0;
  .on-icon {
    font-size: 10px;
    padding: 1px 4px;
    border-radius: $border-radius-default;
    line-height: 1;
    background-color: var(--current-theme-primary);
    color: #fff;
  }
}

.nih-facet {
  padding: 0 0 10px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      cursor: pointer;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      border-top: 1px solid $newspaper;
      padding: 10px;
      display: block;
      font-weight: 500;
      &.selected-item {
        color: var(--current-theme-primary);
      }
    }
  }
}

@media (max-width: 980px) {
  .search-facet-wrapper {
    .modality-facet.facet-accordion.on-accordion-wrapper {
      margin: 20px 0;
      border: 0; // Explicitly override border for mobile
      background: var(--current-theme-primary-ultralight);
      border: 1px solid var(--current-theme-primary-light);
      border-radius: $border-radius-default;
      padding: 10px;

      .accordion-item.collapsed {
        max-height: initial;
      }
      .accordion-title,
      h2 {
        margin: 10px 0 15px;
        font-size: 19px;
        font-weight: 600;
        color: var(--current-theme-primary);
      }
      .accordion-title {
        margin: 10px 0 15px 0; // Explicitly override margin for accordion title
        padding: 0;
        &:after {
          display: none;
        }
      }
      .facet-list {
        padding: 0 0 10px;
        color: var(--current-theme-primary);
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            cursor: pointer;
          }
        }
        .label {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          span {
            margin-left: 10px;
            display: inline-block;
            font-size: 14px;
          }
        }

        .level-1 > li {
          border-top: 1px solid $newspaper;
          > .label {
            padding: 10px;
            font-weight: 500;
            font-size: 16px;
          }
        }
        .level-2 {
          margin-bottom: 10px;
          font-size: 14px;
          > li {
            display: flex;
            justify-content: flex-start;
            .label {
              margin-left: 15px;
            }
            &:before {
              content: '-';
              margin-left: 12px;
            }
          }
        }
      }
      .facet-list ul li {
        > .label {
          font-weight: 500;
        }
        &.selected-facet > .label {
          color: var(--current-theme-primary);
          font-weight: 600;
          span {
            color: var(--current-theme-primary);
          }
        }
      }
    }
  }
}
