{
  "plugins": ["transform-object-rest-spread", "dynamic-import-webpack"],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["chrome >= 41", "firefox >= 50", "edge >= 41"]
        }
      }
    ]
  ]
}
