{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["chrome >= 49", "firefox >= 50"]
        }
      }
    ]
  ]
}
