
.datasetEvents {
  .datasetEventHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      &:nth-child(odd) {
        background-color: #f4f4f4;
      }
    }
  }
  .addEventForm {
    width: 50%;
    margin: 10px auto 30px;
    text-align: right;
    input {
      min-width: 100%;
      display: block;
    }
    textarea {
      margin: 20px 0 10px;
      min-width: 100%;
      display: block;
      min-height: 100px;
    }
  }
}

.dse_inlineForm{
    width: 100%;
    margin:0 0 0 -20px;
    padding: 10px 20px;
    line-height: 20px;
}


.requestRespondedTo {
  background-color: var(--color-gray-100); 
  opacity: 0.7; 
  border-left: 5px solid var(--color-blue-300); 
  padding-left: 10px; 
  transition: all 0.3s ease-in-out; 
}

.acceptedStatus {
  color: var(--color-green-700); 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.deniedStatus {
  color: var(--color-red-700); 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

