
// Scaffolding ================================================================
html,body{
  min-height: 100%;
}
body {
   background-image:
    radial-gradient(
      circle at 50% 5px,
      #fefefe,
      #ccc
    );

    // repeating-radial-gradient(
    //   circle at 0 0, 
    //   #fff,
    //   #f4f4f4 50px
    // );
  padding-top: 75px;
  font-family: $font-family-cabin;
}

.view.container{
  margin: 20px auto;
}


// Type ================================================================

a {
  color: $primary;
  cursor: pointer;
}
a:active,
a:hover,
a:focus{
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
  font-family:$font-family-ssp;
  font-weight: 400;
}

//navbar // ================================================================
.navbar-default{
  background: rgba($white, 0.9);
}
.navbar-brand {
  height: 75px;
}
.navbar-right.useradmin-nav{
    margin: 12px 0;
    .userImgThumb{
      border-radius:50%;
      width: 50px;
      height: 50px;
      overflow: hidden;
      box-shadow:1px 2px 3px -2px rgba(0,0,0,0.5);
    }
}
.user-menu {
    &.btn-null{
      .btn{
        margin: 5px 10px;
        font-size: 18px;
        background: none;
        padding:0;
        border:none;
        color:#505050;
        border: 1px solid transparent;
        border-radius:2px;
        padding: 1px 11px;
      &.active,
      &:active{
        background:none;
        box-shadow:none;
        outline: none;
      }
      &:hover,
      &:focus{
        background:none;
        outline: none;
        border: 1px solid #ddd;
      }
    }
    &.open{
      .btn{
        background:none;
        box-shadow:none;
        outline: none;
        border: 1px solid #ddd;
      }
    }
    }
  .dropdown-toggle{
    padding: 25px 15px;
  }
  .dropdown-menu{
    background-color:$white;
    padding: 20px 20px 0;
    margin: 20px 0 0;
    border-radius: 0;
    box-shadow: 1px 2px 4px -3px rgba(0, 0, 0, 0.7);
    border-color: #F4F4F4;
    .useradmin-upload{
      a{
        margin: 0 -20px;
        background:$sky;
        padding: 20px;
        text-align: center;
        color:$white;
        &:hover{
          background:lighten($sky, 10%);
        }
      }
    }
    .btn-basic{
      width: 130px;
      margin: 10px 20px 25px;
      text-align: center;
      font-size: 12px;
    }
  }
}


//buttons // ================================================================

.btn-basic{
  background: transparent;
  border-radius: 2px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 400;
  font-size: 12pt;
  color:$primary;
  text-align: center;
  padding:10px 50px;
  width: 100%;
  border:1px solid $primary;
  text-transform: uppercase;
  margin: 0 0 10px;

  &:hover,
  &:active {
    border-color:lighten($primary, 10%);
    background: #fafafa;
    color:lighten($primary, 10%);
  }
}


//Alerts // ================================================================
.alert{
  overflow: hidden;
  position: fixed;
  left: 0;
  right:0;
  top:0;
  z-index: 1100;
  margin: 0;
  border-radius:0;
  background-color: rgba(0, 0, 0, 0.80);
  color: #D0D0D0;
  font-weight: 100;
  &.alert-danger{
    border-bottom: 1px solid $brand-danger;
    strong{
      color: $brand-danger;
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  &.alert-warning{
    border-bottom: 1px solid $brand-warning;
    strong{    
      color: $brand-warning;
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  &.alert-success{
    border-bottom: 1px solid $brand-success;
    strong{    
      color: $brand-success;
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  &.alert-info{
    border-bottom: 1px solid $brand-info;
    strong{
      color: $brand-info;
      font-weight: 700;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
}

//form // ================================================================

.form-group {
	position: relative;
	width: 300px;
	margin: 20px auto;
}

.form-group label {
	position: absolute;
	top: 3px;
	left: 5px;
	font-size: 10px;
	color: #777;
	//display: none;
}
.form-group input {
	width: 100%;
	height: 50px;
	font-size: 22px;
	font-weight: lighter;
	font-family: helvetica;
	padding: 0px 10px;
	border: none;
	background: rgba(255,255,255,1);
}

.form-group textarea {
	width: 100%;
	min-height: 200px;
	font-size: 22px;
	font-weight: lighter;
	font-family: helvetica;
	padding: 15px 10px;
	border: none;
	background: rgba(255,255,255,1);
}