

//custom upload input //dirUpload button

input.dirUpload-btn{
  color: transparent;
  width: 100%;
  margin: 20px auto 0;


  &::-webkit-file-upload-button {
    visibility: hidden;
    color: transparent;
  }
  &::before {
    font-family: FontAwesome;
    content: '\f0c5 \0020 Select a bids data set';
    display: inline-block;
    background: transparent;
    border-radius: 2px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 12pt;
    color:$primary;
    text-align: center;
    padding:10px 15px;
    margin:0 0 15px;
    width: auto;
    border:1px solid $primary;
    text-transform: uppercase;
    width: 100%;
  }
  &:hover::before,
  &:active::before  {
    border-color: lighten($primary, 10%);
    color: lighten($primary, 10%);
    background:#fafafa;
  }

  &[type="file"]:focus {
    outline:none;
  }
}




//dirDisplay Bids data upload display
.dirDisplay{
  padding: 15px;
  display: block;
  border: 1px solid #eee;
  h3{
    margin-top: 0;
    color: $stanfordRed;
    .dirName{
      padding:5px 0;
      display: inline-block;
    }
    .folderIcon{
      margin-right: 10px;

    }
    .validate-btn{
      display: inline-block;
      button, span{
        font-size: 12px;
        border: 1px solid $stanfordRed;
        padding: 7px 10px;
        margin: 0;
        border-radius: 0;
        background-color:transparent;
        color:$stanfordRed;
      }
      span{
        border: none;
        i{
          margin-left: 5px;
        }
      }
    }
  }
  .fileStructure{
    margin-bottom: 0;
    .panel-default{
        border: none;
        box-shadow: none;
        padding: 0;
      .panel-heading{
          background-color: rgba(0, 0, 0, 0);
          border-color: rgba(0, 0, 0, 0);
          box-shadow: none;
          padding: 10px 15px 0;
          margin: 20px -15px 0;
          border-top: 1px solid #eee;
          
          .panel-title{
             font-size: 10px;
             color:#aaa;
            a{
              color:#5c5c5c;
            }
          }
      }
      .panel-collapse{
          margin-top: 10px;
          .panel-body{
            border-top: 1px solid #eee;
            color:#5c5c5c;
          }
      }
    }
  }
}


//Progress bar
.progress{
  border-radius:0;
  height: 12px;
  margin:0;
}
.progress-bar{
  max-width: 100%;
  background:rgba(0, 0, 0, 0.70);
}
