@import '../../scss/variables';
$rangeWidth: 90%;

.formRange-inner {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: $rangeWidth;
  position: relative;
  padding: 0 0 30px;
}

.slider {
  position: relative;
  width: $rangeWidth;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: var(--current-theme-primary);
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #333;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: $rangeWidth;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #fff;
  border: 1px solid var(--current-theme-primary-ultralight);
  border-radius: 50%;
  box-shadow: 0 0 5px -1px var(--current-theme-primary);
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #fff;
  border: 1px solid var(--current-theme-primary-ultralight);
  border-radius: 50%;
  box-shadow: 0 0 5px -1px var(--current-theme-primary);
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
