@import '../scss/variables';
.affiliate-card {
  img {
    width: 300px;
    max-width: 100%;
    height: auto;
  }
  h2 {
    font-size: 18px;
  }
  > div {
    margin: 0 0 20px;
  }
  > span {
    font-size: 15px;
  }
}

.affiliate-wrap .grid {
  @media (max-width: $screen-lg) {
    display: block;
    .col.col-3 {
      max-width: 90%;
      padding: 0 20px 50px;
      margin: 0 auto;
    }
  }
}
