@import '../../scss/variables';
// Outer container
.progress {
  overflow: hidden;
  height: 25px;
  margin-bottom: 0;
  background-color: #eee;
  border-radius: 0;
}

// Bar of progress
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  text-align: center;
  background-color: var(--current-theme-primary);
  transition: width 0.6s ease;
}

.progress .progress-bar {
  animation-name: animateBar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
