

//progress bar ========================

.progress {
    @include border-radius(0);
    background: $de;
    height: 18px;
    margin: 0;
    padding: 0;
}

.progress-bar {
    max-width: 100%;
    background: $tertiary;
    background: var(--tertiary);

    span span {
        font-size: 10px;
        line-height: 10px;
        margin: 0;
        text-align: left;
        display: block;
        padding: 5px;
    }
}
