//dataset loading icon spinner
@import 'common.variables';

@include mobile {
    .loading-wrap {
        padding: 150px !important;
    }
  }

.loading-wrap {
    padding: 60px 0 30px;
    text-align: center;
    position: relative;

    span {
        text-transform: uppercase;
        margin-top: 5px;
        display: block;
        font-size: 12px;
        color: $spinner-color;
        color: var(--spinner-color);
    }

    .spinner,
    .spinnerinner {
        @include border-radius(50%);
        @include box-sizing(border-box);
        position: relative;
        border: 4px solid $spinner-color;
        border: 4px solid var(--spinner-color);
        border-color: transparent $spinner-color;
        border-color: transparent var(--spinner-color);
        width: 45px;
        height: 45px;
        padding: 0;
        margin: 0;
    }

    .spinner {
        @include animation(spin 4s linear 0s infinite normal);
        margin: 0 auto;
    }

    .spinnerinner {
        @include animation(spin 1s linear 0s infinite normal);
        @include border-radius(50%);
        border-width: 2px;
        margin: 21%;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 60%;
        height: 60%;
    }
}

.open .loading-wrap{
    width: 80%;
}
