.cte-edit {
    .btn.add {
        background-color: $e5;
        margin: 5px 0;
    }
    .form-control {
        min-height: 50px;
        font-size: 18px;
    }
    .btn-wrapper {
        margin-top: 10px;
    }
}

.cte-edit-button {
    border: 0;
    background-color: $transparent;
    color: --primary;
    padding: 0;
    margin: -5px 0 0 10px;
    span {
        font-size: 10px;
        font-family: --font-family-open;
        text-transform: uppercase;
    }
    i {
        font-size: 12px;
        margin-top: -2px;
    }
    &:hover {
        background: none;
        color: lighten(--primary, 10%);
    }
}

.cte-display {
    font-size: 15px;
    color: $c-66;
    font-weight: 400;
    font-family: --font-family-open;
    word-wrap: break-word;
    white-space: pre-wrap;
    div {
        padding: 0;
        >span {
            background: $f8;
            border-bottom: 1px solid $e7;
            display: block;
            margin: 0 -10px;
            padding: 10px;
            &.ref-link-markdown {
                p {
                    display: inline;
                    margin-bottom: 0;
                }
            }
        }
        &:last-child {
            >span {
                border-bottom: 0;
            }
        }
    }
    .warning-loading {
        font-size: 13px;
        padding: 2px;
        width: 18px;
        margin: 0 5px 0 0;
        line-height: 10px;
    }
    .file-array-btn {
        width: 50px;
        overflow: hidden;
        float: left;
        text-align: center;
        padding: 0;
    }
    .btn-warn-component {
        padding: 2px 5px;
        margin: 0;
        font-size: 13px;
        line-height: 12px;
        display: inline-block;
        &.cancel,
        &.success {
            font-size: 12px;
            padding: 5px 2px;
            width: 18px;
            margin: 0 5px 0 0;
            line-height: 10px;
        }
        i {
            line-height: 0;
            margin-left: 0;
        }
    }
}

.cte-remove-button {
    padding: 0;
    margin-top: -5px;
}

.cte-array-items {
    margin-bottom: 10px;
    background: $f4;
    border: 1px solid $ddd;
    .cte-array-item {
        overflow: hidden;
        padding: 6px;
        .orcid-id,
        .reference-name,
        .author-name,
        .share-name,
        .share-access {
            float: left;
            padding: 10px 0 5px 5px;
            margin: 0;
        }
        .file-name {
            float: left;
            padding: 10px 5px;
        }
        .btn-wrap {
            float: right;
        } //a.delete-Wrap {float: left;}
        &:nth-child(odd) {
            background: $eee;
        }
    }
}

.cte-edit-array {
    input[type="file"] {
        padding: 0;
    }
    li {
        list-style: none;
    }
    .admin-button {
        position: relative;
    }
    #hidden-btn {
        float: right;
        bottom: 20px;
        right: 65px;
    }
    #default-btn {
        float: right;
        left: 56px;
        bottom: 4px;
    }
    .form-inline {
        .form-group {
            width: 40%;
            label {
                position: absolute;
                font-size: 10px;
                line-height: 10px;
                top: 3px;
                padding: 0;
                background-color: $white;
            }
            input {
                font-size: 14px;
                padding: 11px 8px 10px; //height: 35px;
                width: 99%; //margin: 0 .5%;
            }
        }
        .btn.btn-admin {
            background-color: $transparent;
            border: 0;
            width: 20%;
            padding: 0;
            text-align: center;
        }
        .array-edit .btn.btn-admin,
        .author-edit .btn.btn-admin {
            width: 100%;
            padding: 8px 10px;
        }
    }
}