/*Globals*/

.dataset-comments {
  * {
    box-sizing: border-box;
    font-family: inherit;
  }
  button:focus {
    outline: none;
  }
  blockquote.RichEditor-blockquote {
    border-left: 5px solid $primary;
    border-left: 5px solid var(--primary);
  }
  .comment-header {
    label {
      font-size: 18px;
      color: $c-42;
      line-height: 10px;
      padding: 0;
    }
    div {
      margin-bottom: 15px;
      span {
        float: right;
        select {
          width: 160px;
          font-size: 13px;
          height: 25px;
        }
      }
      .uploader-following {
        float: left;
        padding-top: 6px;
        color: $primary;
        color: var(--primary);
      }
    }
  }
  pre {
    background-color: $eee !important;
    color: inherit;
    * {
      background-color: inherit !important;
    }
  }
  i {
    font-family: "FontAwesome";
    padding-right: 2px;
    padding-left: 2px;
  }
}

.toggle-replies {
  float:right;
  margin-right:20px;
}

.top-level {
  margin-bottom: 10px; 

  .reply-div {
    border: solid 1px $ddd;
    margin: 0px;
    margin-top: 10px;
    padding: 15px;
    button {
      margin-top: 10px;      
      margin-right: 5%;
    }
  }
}

.comment-input {
  width: 80%;
}

.deleted-comment {
  padding: 15px;
}

.parent-comment {
  margin-left: 0px;
  padding-left: 0px;
  border-left: none;
}

.RichEditor-root, .comment {
  background-color: $f4;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.RichEditor-editor {
  .btn-modal-action {
    margin: 0;
    margin-top: 4px;
    background: $white;
  }
}

/*Editor Block*/
.DraftEditor-root {
  padding: 0px 10px 10px 10px;
  min-height: 2em;
}

.RichEditor-root > .RichEditor-editor > .DraftEditor-root {
  color: $c-66;
  min-height: 6em;
  background-color: $white;
  &:focus-within {
    box-shadow: inset 0px 0px 3px $c-66;
  }
}

.dataset-comments {
  .row {
    margin: 0;
  }
  .row:first-child {
    margin-bottom: 6px;
  }
  .row:last-child {
    margin-top: 6px;
  }
  .replies {
    margin-left: 2em;
  }
}

.comment-body {
  display: flex;
  img.comment-avatar {
    flex: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 1em;
  }
  div.DraftEditor-root {
    flex: 1;
  }
}

.comment {
  .reply {
    position: relative;
    right: 0;
  }
}

/*Submit Button*/

.comment-submit {
  background: $white;
  color: $primary;
  color: var(--primary);
  width: 90%;
  border: 2px solid $primary;
  border: 2px solid var(--primary);
  border-radius: 0px;
  margin-left: 4%;
  &:focus {
    outline: none !important;
  }
  &:hover {
    background-color: $secondary;
    background-color: var(--secondary);
    color: $white;
    border: 2px solid $secondary;
    border: 2px solid var(--secondary);
  }
}

.comments {
  position: relative;
  border: solid 1px $ddd;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  top: 20px;
}

.dataset-owner-flag {
  padding: 0px 2px;
  background-color: $primary;
  background-color: var(--primary);
  color: $white;
}

.login-for-comments {
  text-align: center;
}

.reply,
.delete,
.edit,
.cancel-edit {
  padding-left: 1em;
}