%btn-dash {
    @extend %btn-admin;
    color: $white;
    border: 0;
    width: 100%;
    padding: 15px 10px;
    font-size: 21px;
    background: #00b489;
    &:hover{
        background: lighten(#00b489, 5%);
        color: $white;
    }
}

// signin page
.is-front {

    .intro {
        display: block;
        width: 100%;
        background-color: $white;
    }
}

.more-info {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 0;
}

.welcome-block {
    padding: 0;
    position: relative;
    max-width: 820px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    .logo-layers{
        height: 200px;
        width: 200px;
        position:relative;
        margin: 20px auto;
        img{
            width: 100%;
            height: auto;
            position: absolute;
            padding: 0;
            margin: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &.logo-layer-cube {@include fadeIn($duration: 0s, $delay: 0);}
            &.logo-layer-data {@include fadeIn($duration: 2s, $delay: 1s);}
            &.logo-layer-app {@include fadeIn($duration: 5s, $delay: 3s);}
            &.logo-layer-users {@include fadeIn($duration:3s, $delay: 5s);}

        }
    }
    h1 {
        letter-spacing: -1px;
        font-size: 45px;
        font-weight: 100;
        margin: 0 0 15px;
    }

    p {
        font-size: 22px;
        font-weight: 100;
        font-family: $font-family-open;
    }
}

.sign-in-block {
   button {
        @extend %btn-blue;
        width: 300px;
        max-width: 100%;
        min-height: 40px;
        margin: 20px 10px 0;
        text-transform: none;
        .icon {
            float: left;
            border-right: 1px solid $white;
            padding: 10px;
            margin: -10px;
        }
        i.icon {
            font-size: 23px;
        }
    }
}

.browse-publicly {
    text-align: center;
    font-size: 16px;
    position: relative;
    margin: 30px 0 0;
    padding: 0;
    text-transform: none;

    a {
        display: block;
        width: 100%;
        text-align: center;
        &:hover {
            text-decoration: underline;
        }
    }

}



#data-tabs {
    background: $white;
    .nav.nav-tabs{
        background: $white;
        border: 0;
        border-bottom: 2px solid $e1;
        border-top: 2px solid $e1;
        justify-content: center;
        display: flex;
        padding: 0;
        @media(max-width: 767px){
            display: block;
        }
        > li {
            float: none;
                margin: 0;
                border: none;
                border-radius: 0;
                padding: 0;
                &:focus{
                    border: 0;
                    box-shadow: none;
                    outline: 0;
                }
            .thumbnail{
                margin: 0;
                padding: 30px 25px 0;
                border: 0;
                border-radius: 0;
                img{
                    width: 150px;
                    height: auto;
                    @media(max-width: 767px){
                        display: none;
                    }
                }
                .caption{
                    text-align: center;
                    padding: 30px 30px 0;
                    max-width: 400px;
                    margin: 0 auto;
                    height: 180px;
                    h3{
                        font-family: $font-family-open;
                        font-weight: 200;
                        font-size: 40px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 22px;
                        color: $c-66;
                    }
                }
                .more{
                    border-bottom: 5px solid transparent;
                    font-size: 22px;
                    color: $secondary;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 20px;
                    margin: 0 10px;
                    transition: all .3s;
                    .text{
                        width: 60px;
                        display: inline-block;
                    }
                    &:before{
                        content: '+';
                        font-size: 25px;
                        border: 1px solid $secondary;
                        border-radius: 100%;
                        height: 38px;
                        width: 38px;
                        display: inline-block;
                        line-height: 34px;
                        text-align: center;
                        font-family: $font-family-open;
                        font-weight: 200;
                        margin-right: 7px;
                        transition: transform .3s;
                    }
                    &:hover{
                        border-color: $eee;
                        color: $primary;
                    }
                }

                &.active{
                    .more{
                        border-color: $secondary;
                        &:before{
                            -ms-transform: rotate(135deg);
                            -webkit-transform: rotate(135deg);
                            transform: rotate(135deg);
                        }
                    }
                }
            }
        }
    }
    .tab-pane {
        background: $white;
    }
    .tab-content{
        max-width: 1500px;
        width: 100%;
        padding: 25px;
        margin: 0 auto;
        .img-wrap{
            width: 220px;
            height: 220px;
            overflow: hidden;
            float: left;
            border-radius: 100%;
            margin: 20px 39px 20px 10px;
            border: 1px solid $ccc;
            img{
                margin: 0 0 0 -5px;
                border: 2px solid #eee;
                width: 450px;
                height: auto;
                &.snapshot{
                    width: 270px;
                }
                &.browse{
                    width: 570px;
                    margin: -60px 0 0 -30px;
                }
                &.download{
                    width: 560px;
                    margin: -220px 0 0 0px;
                }
                &.collaborate{
                        width: 560px;
                }
                &.analyse{
                    width: 360px;
                    margin: 0px 0 0 0;
                }
                &.publish{
                    width: 270px;
                }
            }
        }
        .caption {
            font-family: $font-family-open;
            font-size: 18px;
            padding: 10px;
            color: $c-66;
            font-weight: 100;
            width: 280px;
            float: left;
            h3 {
                font-size: 33px;
                font-weight: 100;
            }
        }

    }
}

.more-info {
    margin: 0;
    padding: 70px 0;
    @include gradient-vertical($start-color: $e7, $end-color: $white, $start-percent: 0%, $end-percent: 30%);
    .container{
        max-width: 1500px;
        .bids-more,
        .openneuro-more{
            text-align: left;
            font-family: $font-family-open;
            margin: 0;
            font-weight: 200;
            .logo-text{
                 font-size: 50px;
                font-family: $font-family-cabin;
            }
            .col-sm-6{
                padding: 10px 30px 30px;
                color: #4b4b4b;
                font-weight: 200;
                p{
                    max-width: 450px;
                }
                a{
                    color: $secondary;
                    font-weight: 400;
                    &:hover{
                        color: $primary;
                    }
                }
            }
            h3{
                font-size: 25px;
                font-weight: 200;
                color: #4b4b4b;
            }
        }
        .support-more{
            margin-top: 50px;
            h4{
                text-align: center;
                font-size: 20px;
            }
            img{
                max-width: 100%;
                height: auto;
                margin-top: 20px;
                padding: 20px;
                width: 290px;
            }
        }

    }
}

.browse-pipelines {
    @extend .clearfix;
    @include gradient-vertical($start-color: #009b76, $end-color: #00ad84);
    .browse-pipeline-header{
        background: #00b489;
        color: $white;
        font-weight: 200;
        font-size: 34px;
        margin: 0;
        padding: 25px 0;
        text-align: center;
    }
    .container{
        max-width: 1500px;

        .mate-slide{
            height: 360px;
            padding: 40px 50px 50px;

            h4{
                color: $white;
                font-weight: 200;
                font-size: 24px;
                margin: 0 0 35px;
                text-align: center;
            }
            ul{
                margin: 25px 0 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: space-between;
                align-content: space-between;
                li{
                    margin: 0 0 15px;
                    padding: 10px;
                    border: 1px dashed lighten(#00b489, 5%);
                    flex-basis: 49%;
                    button{
                        @extend %btn-dash;
                    }
                }
            }
            &.loading-browse{
                background: $white;
            }
            &.browse {
                border-left: 2px solid #00b489;
                label{
                    font-size: 20px;
                    color: $white;
                    font-weight: 300;
                    font-family: $font-family-open;
                }

                select{
                    -webkit-appearance: none;
                    -moz-appearance:    none;
                    appearance:         none;
                    background: none;
                    border: 0;
                    border-bottom: 1px solid $white;
                    color: $white;
                    border-radius: 0;

                    &:focus {
                        outline: 0;
                    }
                }
                .select-pipeline{
                    position: relative;
                }

                .select-pipeline option {
                    color: black;
                }

                .select-pipeline-arrow{
                    border-color: $white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                    border-style: solid;
                    border-width: 5px 5px 2.5px;
                    display: inline-block;
                    height: 0;
                    width: 0;
                    position: absolute;
                    bottom: 0;
                    right: 9px;
                }

                .Select-control{
                    background: none;
                    border: none;
                    color: $white;
                    border-bottom: 1px solid $white;
                    border-radius: 0;

                    .Select-placeholder,
                    .Select-clear{
                        color: $white;
                    }

                    .Select-arrow{
                       border-color: $white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                    }

                    .Select-value{
                        color: $white;
                        border-color: $white;
                        background: rgba(0, 0, 0, 0);

                        .Select-value-icon{
                            border-color: $white;
                        }
                    }
                }
            }
        }
    }
}

.mate-analyses-header {
    margin-bottom: 10px;
}

.selected-pipeline {
    background: $white;
    padding: 25px 0;
    position: relative;
    overflow: hidden;
    .container{
        max-width: 1500px;
    }

    .close-selected{
        text-align: right;
        width: 70px;
        display: block;
        padding: 10px 0 0;
        text-transform: uppercase;
        float: right;
    }

    .active-pipeline-arrow{
        border-color: #00ad84 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 17px 25px 2.5px;
        display: inline-block;
        height: 0;
        width: 0;
        position: absolute;
        margin-top: -25px;
    }
}

footer {
    background: $footer-background-color;
    padding: 10px 20px;
    color: $footer-text-color;
    display: block;
    .version{

    }
    .copy{
        text-align: right;
    }
    .footer-menu{
        ul{
            display: flex;
            padding: 0;
            margin: 0;
            li{
                flex-basis: 100px;
                text-align: center;
                list-style: none;
                a{
                    color: $footer-text-color;
                    &:hover{
                        text-decoration: underline;
                        color: lighten($secondary, 15%);
                    }
                }
            }
        }
    }
}



