//navbar // ================================================================s
@include keyframes(alertown) {
    0% {transform: translateY(-50px);}
    100% {transform: translateY(0);}
}

.navbar {
    z-index: 800;
    border-left: 0;
    border-right: 0;
    border-top: 10px solid $navbar-top-border-color;
    border-top: 10px solid var(--navbar-top-border-color);
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.alert-state-true {
    -webkit-transition: transform .5s;
    transition: transform .5s;
    transform: translateY(50px);
}

.nav-alert-state-true .alert {
    animation: alertDown .5s;
    height: 50px;
}


.navbar-default {
    background: $navbar-background-color;
    background: var(--navbar-background-color);
    color: $navbar-btn-text-color;
    color: var(--navbar-btn-text-color);
    margin: 0;
    padding: 0;
    z-index: 800;
    border-radius: 0;
    .container{
        padding: 0;
        .navbar-collapse{
            padding: 0;
        }
    }

    .main-nav.navbar-nav {
        > li {
            > .navbar-collapse {
                padding: 0;
            }
            > .link {
                border: 1px solid transparent;
                padding: 10px;
                color: $navbar-btn-text-color;
                color: var(--navbar-btn-text-color);
                margin: 17px 0;
                border-radius: 2px;
                transition: border .5s ease;
                margin-left: 10px;

                &:hover {
                    color: $stone;
                    border-color: $stone;
                }

                &.active {
                    color: $navbar-btn-text-color;
                    color: var(--navbar-btn-text-color);
                    border-color: $navbar-btn-text-color;
                    border-color: var(--navbar-btn-text-color);
                }
            }
        }

        &.main-nav {
            float: right;

            .nav-link {
                width: 110px;
                height: 75px;
                line-height: 75px;
                text-align: center;
                display: block;
                padding: 0 10px;
                color: $navbar-btn-text-color;
                color: var(--navbar-btn-text-color);
                background: $transparent;
                -webkit-transition: all .5s;
                transition: all .5s;

                .link-name {
                    width: 100%;
                    font-size: 14px;
                    text-transform: uppercase;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: normal;
                    border-bottom: 3px solid $transparent;
                }

                &:focus,
                &:active,
                &.active {
                    color: $navbar-btn-text-color;
                    color: var(--navbar-btn-active-text-color);
                    background: $navbar-btn-active-background-color;
                    background: var(--navbar-btn-active-background-color);
                }

                &:hover {

                    .link-name {
                        border-color: $navbar-btn-text-underline-color;
                        border-color: var(--navbar-btn-text-underline-color);
                    }
                 }
            }
            .active-signin {
              margin: 15px 20px;
            }
            .sign-in-nav-btn {
                margin: 15px 20px;
                @include mobile {
                  margin: 0;
                }
                .link-name {
                  border-bottom: none;
                }
              }

            .user-wrap {
                margin: 0;
                height: 75px;
                vertical-align: middle;
                width: 75px;
                border-left: 2px solid $c-56;
                background: $c-21;

                .greeting {text-transform: uppercase;}
            }



            .upload-btn-wrap {

                .nav-link.nl-upload {
                    width: 180px;
                    padding: 0 15px;
                    background: $navbar-upload-btn-background-color;
                    background: var(--navbar-upload-btn-background-color);
                    color: $secondary;
                    color: var(--secondary);

                    .link-name {
                        border-color: $transparent;
                    }

                    &.nl-progress {
                        .link-name {
                            margin-top: -20px;
                        }

                        .progress {
                            margin-top: -30px;
                            height: 10px;
                            position: relative;
                        }

                        .progress-bar-warning {
                            background: $brand-warning;
                        }
                    }

                    &:hover,
                    &:focus,
                    &:active,
                    &.active {
                        color: $white;
                        background: $navbar-upload-btn-active-background-color;
                        background: var(--navbar-upload-btn-active-background-color);
                    }
                }

            }


            .user-img-thumb {
                width: 75px;
                height: auto;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
            }

            .user-generic-thumb {
                width: 75px;
                height: 75px;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                display: table;
                background-color: rgb(167, 204, 70);

                .user-generic-thumb-letter {
                    font-size: xx-large;
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                    color: $white;
                }
            }




            .dropdown {
                position: initial;

                &.btn-group {
                    .btn {
                        background: $transparent;
                        box-shadow: none;
                        outline: none;
                        border: 0;
                        border-radius: 0;
                        padding: 0;
                        text-align: center;
                        margin: 0;
                        color: $white;
                        position: absolute;
                        right: 0;
                        left: auto;
                        width: 75px;
                        height: 75px;
                        top: 0;

                        .caret {display: none;}

                        i {
                            top: 0;
                            right: 0;
                            position: absolute;
                            padding: 0;
                            background-color: $transparent3;
                            width: 30%;
                            height: 30%;
                            line-height: 25px;
                            transition: all .3s ease;
                        }

                        &.active,
                        &:active,
                        &:hover,
                        &.hover,
                        &:focus {

                            i {
                                transition: all .3s ease;
                                background-color: $transparent3;
                                width: 100%;
                                height: 100%;
                                line-height: 75px;
                            }
                        }
                    }

                    &.open {
                        .btn {
                            background: $transparent3;
                            box-shadow: none;
                            outline: none;
                            border: 0;
                        }
                    }
                }

                .dropdown-toggle {padding: 25px 15px;}

                .dropdown-menu {
                    background-color: $white;
                    padding: 20px 15px 0;
                    margin: 0;
                    border-radius: 0;
                    box-shadow: 1px 2px 4px -3px $transparent7;
                    border-color: $f4;
                    right: 0;
                    left: auto;

                    .dropdown-header {
                        width: 100%;
                        text-align: center;
                        padding: 10px 0;
                    }

                    .btn-submit-other {
                        margin-bottom: 15px;
                        color: $secondary;
                        color: var(--secondary);
                        border-color: $transparent;

                        &:hover,
                        &.active {
                            border-color: $transparent;
                            color: $secondary-darken;
                            color: var(--secondary-darken);
                            background: $eee;
                        }
                    }
                }
            }

            @media(max-width: 1000px){
              .nav-link{
                    padding: 0 10px;
                    max-width: 80px;

                    .link-name{
                        font-size: 12px;
                    }
                }
            }

            @include mobile {
                float: none;
                width: 100%;
                &.nav > li{
                    float: none;
                    margin: 0;
                    width: 100%;

                    .nav-link{
                        float: none;
                        margin: 0;
                        max-width: initial;
                        width: 100%;
                        height: auto;
                        line-height: 0;
                        padding: 0;
                        .link-name{
                            line-height: 30px;
                        }
                        &.nl-upload{
                            margin: 0;
                            width: auto;
                            line-height: 40px;
                        }
                    }
                }

                .user-img-thumb{
                    display: none;
                }
                .user-generic-thumb{
                    display: none;
                }

                .dropdown{
                    display: block;

                    .dropdown-menu{
                        display: block;
                        width: 100%;
                        position: relative;
                        margin: 0;
                        min-width: 0;
                        float: none;
                        padding: 0;

                    }
                    &.btn-group .btn{
                        display: none;
                    }
                }

                .user-wrap{
                    height: auto;
                    width: auto;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.navbar-brand {
    height: 75px;
    padding: 5px 20px;
    border: 0;

    @media(max-width: 1000px){
        padding: 15px 25px;
    }

    > img{
        display: block;
        width: 60px;
        height: 60px;
        float: left;

        @media(max-width: 1000px){
            width: 40px;
            height: 40px;
        }
    }

    .logo-text{
        display: block;
        font-size: 38px;
        color: $white;
        margin: 12px 10px;
        float: left;

        @media(max-width: 1000px){
            font-size: 22px;
        }

        .logo-end{
            transition: color 0.3s;
            color: $primary-hover;
            color: var(--primary-hover);
        }
        &:hover{
            .logo-end{
                color: $white;
            }
        }
    }
}
