

.user-meta-block{
    margin-top: 30px;
}
.umb-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    h4{
       margin: 14px 0;
    }
}

