.useraccountview{
    h3{
        margin-top: 0;
        font-size: 22px;

    }
    .accountDetail{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            margin: 0 0 10px;
            font-size: 16px;
        }
        span{
            font-weight: 700;
            margin: 0 10px;
        }
    }
    .umbOrcidConsent{
        margin-top: 30px;
        .umbOrcidHeading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;
            h4{
                margin: 14px 0;
            }
        }
    }
}

