[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
datalad = "==1.0.2"
pytest = "*"
coverage = "*"
mock = "*"
pytest-cov = "*"
pytest-xdist = "*"
exceptiongroup = "*"

[packages]
dnspython = "*"
falcon = "==3.1.3"
redis = "*"
requests = "*"
GitPython = "*"
PyJWT = ">=2"
gunicorn = "*"
gevent = "*"
elastic-apm = "*"
falcon-elastic-apm = "*"
boto3 = "*"
elasticsearch = "*"
pygit2 = "*"
pygithub = "==2.3.0"
greenlet = "*"
charset-normalizer = "*"
