[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
pytest = "*"
coverage = "*"
mock = "*"
pytest-cov = "*"
fakeredis = "*"

[packages]
boto3 = "*"
celery = "*"
dnspython = "*"
datalad = "==0.12.3"
falcon = "*"
flower = "*"
raven = "*"
redis = "*"
requests = "*"
GitPython = "*"
PyJWT = "*"
gunicorn = "*"
gevent = "*"

[requires]
python_version = "3.7"