[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
datalad = "==1.2.0"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-xdist = "*"
exceptiongroup = "*"
pytest-asyncio = "*"

[packages]
falcon = "==4.0.2"
requests = "*"
PyJWT = ">=2"
boto3 = "*"
pygit2 = "==1.17.0"
pygithub = "==2.6.1"
charset-normalizer = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiofiles = "*"
aioshutil = "*"
sentry-sdk = {extras = ["falcon"], version = "*"}
bidsschematools = "==1.0.3"
