@import '../scss/variables';

.user-menu-dropdown {
  position: relative;
  .menu {
    box-shadow: 0px 0px 5px -4px black;
    background-color: #fff;
    border-radius: $border-radius-default;
    width: 100%;
    min-width: 250px;
    right: 0px;
    top: 60px;
  }

  .user-menu-dropdown-list {
    ul {
      list-style: none;
      margin: 0;
      padding: 20px;
      li {
        text-align: center;
        border-bottom: 1px solid $newspaper;
        &.dropdown-header {
          padding: 10px 0;
          font-size: 14px;
          p:first-child {
            margin-top: 0;
          }
          span {
            color: #777;
            font-size: 12px;
          }
        }
        a {
          display: block;
          text-decoration: none;
          padding: 10px 0;
          &:hover {
            background-color: #eee;
          }
        }
        &:last-child {
          border: 0;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .active {
    img {
      opacity: 0.5;
    }
    i {
      color: $on-light-aqua;
    }
  }
}

.header-account-btn {
  display: flex;
  align-items: center;
  background: #eee;
  border-radius: $border-radius-default;

  button.on-no-background.icon-text {
    color: $on-dark-aqua;
    margin: 5px 20px 0;
    font-size: 16px;
  }
}
.header-account-btn .toggle {
  color: #204e5a;
  font-weight: bold;
  font-size: 14px;
  padding: 20px 24px;
  @media (max-width: 800px) {
    padding: 10px;
  }
}
