@import '../scss/variables';

.activity-slider {
  h3 {
    text-align: center;
    color: #9f2995;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
  }

  .activity-slider-node {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    .ds-name h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0;
      text-decoration: underline;
    }
    .ds-pub-views,
    .ds-pub-date {
      font-weight: 600;
      font-size: 14px;
      margin: 10px 0 0;
    }
  }
  .activity-slider-node {
    .hexagon-wrapper {
      text-align: center;
      margin: 20px auto;
      position: relative;
      display: inline-block;
      width: 45px;
      height: 45px;
      div.label {
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 600;
        font-size: 13px;
      }
    }

    .hexagon {
      height: 100%;
      width: calc(100% * 0.57735);
      display: inline-block;
    }

    .hexagon:before {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      transform: rotateZ(60deg);
    }

    .hexagon:after {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      transform: rotateZ(-60deg);
    }
    .hexagon {
      transition: background-color 0.3s;
      background-color: $on-dark-aqua;

      &.mri {
        background-color: $mri-theme;
      }
      &.eeg {
        background-color: $eeg-theme;
      }
      &.nirs {
        background-color: $nirs-theme;
      }
      &.pet {
        background-color: $pet-theme;
      }
      &.ieeg {
        background-color: $ieeg-theme;
      }
      &.ecog {
        background-color: $ecog-theme;
      }
      &.asl {
        background-color: $asl-theme;
      }
      &.meg {
        background-color: $meg-theme;
      }
      &.eeg {
        background-color: $on-light-green;
      }
    }
  }
}
.react-multi-carousel-dot--active button {
  background-color: var(--current-theme-primary);
}
.react-multi-carousel-dot button {
  border-color: var(--current-theme-primary);
}

.react-multi-carousel-list.activity-slider i.fas {
  position: absolute;
  color: var(--current-theme-primary);
  &.fa-chevron-right {
    right: 0;
  }
}
