$font-sans: 'Open Sans', sans-serif;

$charcoal: #333;
$newspaper: #dfdfdf;

/* SCSS RGB */
$on-light-aqua: rgb(55, 188, 210);
$on-dark-aqua: rgba(32, 78, 90, 1);
$on-secondary: #196583;
$on-dark-aqua-light: #e5f4f7;

$mri-theme: rgba(109, 83, 156, 1);
$mri-hover: adjust-color($mri-theme, $lightness: 10%);
$mri-dark: darken($mri-theme, 25%);
$mri-secondary: adjust-color($mri-theme, $lightness: 15%);
$mri-light: adjust-color($mri-theme, $lightness: 45%);

$eeg-theme: rgba(179, 37, 37, 1);
$eeg-hover: adjust-color($eeg-theme, $lightness: 10%);
$eeg-dark: darken($eeg-theme, 25%);
$eeg-secondary: adjust-color($eeg-theme, $lightness: 15%);
$eeg-light: adjust-color($eeg-theme, $lightness: 45%);

$pet-theme: rgba(0, 139, 255, 1);
$pet-hover: adjust-color($pet-theme, $lightness: 10%);
$pet-dark: darken($pet-theme, 25%);
$pet-secondary: adjust-color($pet-theme, $lightness: 15%);
$pet-light: adjust-color($pet-theme, $lightness: 45%);

$ieeg-theme: rgba(19, 126, 71, 1);
$ieeg-hover: adjust-color($ieeg-theme, $lightness: 10%);
$ieeg-dark: darken($ieeg-theme, 25%);
$ieeg-secondary: adjust-color($ieeg-theme, $lightness: 15%);
$ieeg-light: rgb(200, 212, 153);

$meg-theme: rgba(234, 93, 11, 1);
$meg-hover: adjust-color($meg-theme, $lightness: 10%);
$meg-dark: darken($meg-theme, 25%);
$meg-secondary: adjust-color($meg-theme, $lightness: 15%);
$meg-light: adjust-color($meg-theme, $lightness: 45%);

$on-light-green: #00eeb5;
$on-light-red: #c00342;
$on-light-orange: rgb(255, 110, 43);

$primary: $on-dark-aqua;

$chiclet-color: #a2059e;

/* CSS HEX */
:root {
  --mri-theme: #{$mri-theme};
  --eeg-theme: #{$eeg-theme};
  --pet-theme: #{$pet-theme};
  --ieeg-theme: #{$ieeg-theme};
  --meg-theme: #{$meg-theme};

  --on-light-aqua: #{$on-light-aqua};
  --on-dark-aqua: #{$on-dark-aqua};
  --on-light-green: #{on-light-green};

  --current-theme-primary: #{$on-dark-aqua};
  --current-theme-primary-hover: #{$on-light-aqua};
  --current-theme-secondary: #{$on-secondary};
  --current-theme-primary-dark: #{$on-dark-aqua};
  --current-theme-primary-light: #{$on-dark-aqua-light};
}

.mri-theme {
  background-color: $mri-theme;
}
.eeg-theme {
  background-color: $eeg-theme;
}

.pet-theme {
  background-color: $pet-theme;
}
.ieeg-theme {
  background-color: $ieeg-theme;
}

.on-light-aqua {
  background-color: $on-light-aqua;
}
.on-light-green {
  background-color: $on-light-green;
}
.on-dark-aqua {
  background-color: $on-dark-aqua;
}

.meg-theme {
  background-color: $meg-theme;
}

.gray-bg {
  background: #f3f3f3;
}

//Base unit used for spacing gutters
$base-unit: 20px;

//Screen Sizes
$screen-sm: 480px;
$screen-md: 767px;
$screen-lg: 989px;

$border-radius-default: 4px;

.search-page-mri,
.dataset-page-mri {
  --current-theme-primary: #{$mri-theme};
  --current-theme-primary-hover: #{$mri-hover};
  --current-theme-primary-dark: #{$mri-dark};
  --current-theme-secondary: #{$mri-secondary};
  --current-theme-primary-light: #{$mri-light};
}

.search-page-eeg,
.dataset-page-eeg {
  --current-theme-primary: #{$eeg-theme};
  --current-theme-primary-hover: #{$eeg-hover};
  --current-theme-primary-dark: #{$eeg-dark};
  --current-theme-secondary: #{$eeg-secondary};
  --current-theme-primary-light: #{$eeg-light};
}

.search-page-pet,
.dataset-page-pet {
  --current-theme-primary: #{$pet-theme};
  --current-theme-primary-hover: #{$pet-hover};
  --current-theme-primary-dark: #{$pet-dark};
  --current-theme-secondary: #{$pet-secondary};
  --current-theme-primary-light: #{$pet-light};
}

.search-page-ieeg,
.dataset-page-ieeg {
  --current-theme-primary: #{$ieeg-theme};
  --current-theme-primary-hover: #{$ieeg-hover};
  --current-theme-primary-dark: #{$ieeg-dark};
  --current-theme-secondary: #{$ieeg-secondary};
  --current-theme-primary-light: #{$ieeg-light};
}

.search-page-meg,
.dataset-page-meg {
  --current-theme-primary: #{$meg-theme};
  --current-theme-primary-hover: #{$meg-hover};
  --current-theme-primary-dark: #{$meg-dark};
  --current-theme-secondary: #{$meg-secondary};
  --current-theme-primary-light: #{$meg-light};
}
