$font-sans: 'Open Sans', sans-serif;

/* SCSS RGB */
$mri-theme: rgba(109, 83, 156, 1);
$eeg-theme: rgba(138, 177, 89, 1);
$nirs-theme: rgba(235, 83, 152, 1);
$pet-theme: rgba(0, 139, 255, 1);
$ieeg-theme: rgba(121, 5, 93, 1);
$ecog-theme: rgba(0, 190, 143, 1);
$on-light-aqua: rgb(55, 188, 210);
$on-dark-aqua: rgba(32, 78, 90, 1);
$asl-theme: rgba(185, 42, 39, 1);
$meg-theme: rgba(234, 93, 11, 1);
$on-light-green: #00b489;
$on-light-red: #c00342;

$primary: $on-dark-aqua;

$mri-hover: lighten($mri-theme, 10%);
/* CSS HEX */
:root {
  --mri-theme: #{$mri-theme};
  --eeg-theme: #{$eeg-theme};
  --nirs-theme: #{$nirs-theme};
  --pet-theme: #{$pet-theme};
  --ieeg-theme: #{$ieeg-theme};
  --ecog-theme: #{$ecog-theme};
  --on-light-aqua: #{$on-light-aqua};
  --on-dark-aqua: #{$on-dark-aqua};
  --asl-theme: #{$asl-theme};
  --meg-theme: #{$meg-theme};
  --on-light-green: #{on-light-green};
  --current-theme-primary: #{$on-dark-aqua};
  --current-theme-primary-hover: #{$on-light-aqua};
  --current-theme-secondary: #4795b4;
}

.mri-theme {
  background-color: $mri-theme;
}
.eeg-theme {
  background-color: $eeg-theme;
}
.nirs-theme {
  background-color: $nirs-theme;
}
.pet-theme {
  background-color: $pet-theme;
}
.ieeg-theme {
  background-color: $ieeg-theme;
}
.ecog-theme {
  background-color: $ecog-theme;
}
.on-light-aqua {
  background-color: $on-light-aqua;
}
.on-light-green {
  background-color: $on-light-green;
}
.on-dark-aqua {
  background-color: $on-dark-aqua;
}
.asl-theme {
  background-color: $asl-theme;
}
.meg-theme {
  background-color: $meg-theme;
}

.gray-bg {
  background: #f3f3f3;
}

//Base unit used for spacing gutters
$base-unit: 20px;

//Screen Sizes
$screen-sm: 480px;
$screen-md: 767px;
$screen-lg: 989px;

.search-page-mri {
  --current-theme-primary: #{$mri-theme};
  --current-theme-primary-hover: #{$mri-hover};
}

$border-radius-default: 4px;
