.sb-show-main.sb-main-padded {
  padding: 0 !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  font-family: $font-sans;
  min-height: 100vh;
  padding: 0;
}

a,
a:link {
  color: var(--current-theme-primary);
  transition: color 0.3s;
  cursor: pointer;
  &:hover {
    color: var(--current-theme-primary-hover);
  }
}
.container {
  max-width: calc(100vw - 80px);
  width: 1690px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  @media (max-width: 767px) {
    max-width: calc(100vw - 50px);
  }
}

div,
span,
input,
textarea {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
  box-sizing: border-box;
}

blockquote {
  font-style: italic;
  color: #454545;
  margin: 20px 60px;
  border-left: 10px solid #e2e2e2;
  display: block;
  padding: 0 0 0 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  padding: 0;
}

.sticky-content {
  min-height: calc(100vh - 30px);
  padding: 0;
}
.sticky-footer {
  height: 30px;
}
