@import 'react-toastify/dist/ReactToastify.css';

@import '../scss/variables';

@import '../scss//normalize';
@import '../scss//helper-classes';
@import '../scss//flex-grid';
@import '../scss//upload-modal';
@import '../scss/toasts.scss';

@import '../scss/global.scss';

@import '../header/header.scss';
@import '../footer/footer.scss';

@import '../modality-cube/modality-cube.scss';

@import '../accordion/accordion.scss';

@import '../dropdown/dropdown.scss';

@import '../button/button.scss';

@import '../affiliate-article/affiliate.scss';

@import '../activity-slider/slider.scss';

@import '../user/user-menu.scss';

@import '../tooltip/tooltip.scss';

@import '../input/input.scss';

@import '../input/term-search.scss';

@import '../select/select.scss';

@import '../read-more/read-more.scss';

@import '../range/TwoHandleRange.scss';

@import '../radio/radio.scss';

@import '../modal/modal.scss';

@import '../icon/icon.scss';

@import '../loading/loading.scss';

@import '../count-toggle/count-toggle.scss';

@import '../facets/facet.scss';

@import '../front-page/front-page.scss';
@import '../faqs/faqs.scss';
@import '../search-page/search-page.scss';
@import '../search-page/search-result.scss';
@import '../search-page/search-sort.scss';
@import '../search-page/filters-block.scss';
@import '../dataset/dataset-page.scss';
@import '../dataset/share-tool.scss';
@import '../dataset/snapshot-tool.scss';

.page {
  min-height: 400px;
}
.text-danger {
  color: $on-light-red;
.loading-dataset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

// admin page
.admin.route-wrapper {
  margin: 20px auto;
  max-width: 1000px;
  width: 90%;
  .nav-pills.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    li a {
      padding: 20px;
      display: block;
    }
  }
  input {
    display: inline-block;
    appearance: none;
    box-sizing: border-box;
    border-radius: 0;
    border: 0.1rem solid #dfdfdf;
    padding: 10px 12px;
    max-width: 100%;
    line-height: 12px;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filters {
    button {
      margin: 0 10px;
    }
  }
  .users-panel-wrap {
    .user-panel {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 10px;
      > .user-col {
        flex: auto;
        label {
          display: block;
          font-weight: 600;
          font-size: 14px;
        }
      }
      .user-panel-inner {
        display: flex;
        justify-content: space-between;
        > .user-col {
          flex: 1;
        }
      }
      .uc-summary .summary-data,
      .uc-provider {
        font-size: 12px;
        margin: 0 0 10px;
      }
      .uc-name {
        font-size: 20px;
        display: flex;
        align-items: flex-start;
        .badge {
          font-size: 12px;
          color: #fff;
          background: red;
          display: inline-block;
          padding: 5px;
          border-radius: 4px;
          font-weight: bold;
        }
        .dataset-tools-wrap-admin .tools {
          display: flex;
          button {
            background-color: transparent;
            border: 0;
            outline: 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}

//api page

.container.api {
  width: 767px;
  margin: 40px auto 80px;
  max-width: 90%;
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 50px;
  }
  pre {
    white-space: normal;
    word-break: break-all;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .copy-key.ck-wrap {
    margin: 30px;
    display: flex;
    justify-content: center;
  }
  .on-button--primary.on-button {
    margin: 10px auto;
    display: block;
  }
}

.feedback-form {
  .required {
    color: #f10;
  }
}
.feedback-form h3 {
  margin: 30px 0 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #444;
}

.feedback-form .feedback-input {
  width: 100%;
  margin-bottom: 10px;
  line-height: 1.5;
}

.feedback-input + label {
  margin-right: 15px;
}

.open-feedback-modal-button {
  position: fixed;
  bottom: 59px;
  right: 5px;
  z-index: 9000;
}

.feedback-form.feedback-modal .grid.modal {
  width: 670px;
  max-height: 80%;
}

.edit-description-field {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.description-btn {
  color: var(--current-theme-primary);
  &:hover {
    text-decoration: underline;
  }
}
.dataset-header .description-btn {
  color: var(--current-theme-primary-light);
  // &.description-button-edit {
  // }
  // &.description-button-save {
  // }
  // &.description-button-cancel {
  // }
}

.edit-list-group-item,
.edit-list-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .on-button--small {
    padding: 13px;
    margin-left: 10px;
  }
}

.edit-list-group-item {
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  .on-no-background.icon-text,
  .on-no-background.img-icon-text {
    padding: 0;
    margin-left: 5px;
  }
}

.update-field-save {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
