@import '../scss/variables';

.filters-block {
  background-color: #eee;
  border-radius: px;
  padding: 30px 20px 0;
  margin: 0 0 30px;
  position: relative;
  .active-filters {
    padding: 0;
    margin: 0 20px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      margin-right: 30px;
      margin-bottom: 30px;
      font-size: 13px;
      line-height: 1.7em;
      &:last-child {
        margin-right: 0;
      }
      strong {
        margin-right: 10px;
        text-transform: uppercase;
        color: #777;
      }
      > span {
        display: flex;
        padding: 6px 10px;
        color: #fff;
        border-radius: 4px;
        background-color: #c83fad;
        transition: background-color 0.3s;
        &:hover {
          background-color: darken(#c83fad, 10%);
        }
        span {
          color: #fff;
          font-size: 22px;
          margin-left: 8px;
          margin-top: -1px;
        }
      }
    }
  }

  .on-button {
    display: block;
    width: 65px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: none;
    border-bottom: 2px solid transparent;
    transition: border 0.3s, color 0.3s;
    &:hover {
      text-decoration: none;
      color: #000;
      border-bottom-color: #000;
    }
  }
}
