@import '../scss/variables';

.search-sort-list-label {
  padding: 0 0 20px;
  color: $on-dark-aqua;
  i {
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    top: -2px;
  }
  span {
    color: #333;
  }
}
.search-sort-dropdown-list {
  .label {
    margin: 0 15px 0 30px;
    b {
      margin-right: 20px;
    }
  }
  i + .label {
    margin-left: 12px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 400px;
    min-width: 150px;
    background-color: #fff;

    li {
      cursor: pointer;
      width: 100%;
      padding: 10px 10px;
      transition: background 0.25s, color 0.25s;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      color: $on-dark-aqua;
      justify-content: flex-end;
      &:hover {
        color: #333;
        background: rgba(0, 0, 0, 0.025);
      }
    }
  }
}
