// @import '../scss/variables';
.search-result {
  padding: 20px;
  h3 {
    margin: 0 0 5px;
    a {
      color: var(--current-theme-primary);
      &:hover {
        color: var(--current-theme-primary-hover);
      }
    }
  }

  .result-icon-wrap,
  .owner-icon-wrap {
    display: flex;
    justify-content: flex-end;
    .result-icon {
      margin-left: 15px;
    }
  }
  .result-activity-icon {
    width: 18px;
    height: 19px;

    &[data-tooltip]::after {
      width: 130px;
      padding: 5px;
      line-height: 1.6em;
      text-align: center;
      white-space: break-spaces;
    }
  }

  .result-meta-body > div {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    strong {
      text-transform: uppercase;
      color: #666;
      margin-bottom: 5px;
    }
    .list-item {
      display: inline-block;

      border-right: 1px solid #cacaca;
      font-weight: 600;
      padding: 3px 6px;
      margin: 0 10px 5px 0;
      color: var(--current-theme-secondary);
      border: 1px solid;
      border-radius: $border-radius-default;
    }
  }

  .result-meta-footer {
    display: flex;
    flex-wrap: wrap;
    .result-summary-meta {
      margin: 0 10px 10px 0;
      padding: 0 40px 0 0;
      font-size: 14px;
      font-weight: 600;
      &:last-child {
        padding-right: 0;
      }
      strong {
        text-transform: uppercase;
        color: #666;
      }
    }
  }

  .updated-date .divider {
    margin: 0 10px;
  }
  .result-upload-info {
    text-align: right;
    font-size: 12px;
    margin: 0 0 20px;
    display: flex;
    justify-content: flex-start;
    span {
      color: #666;
    }
  }
}

.dataset-permissions-tag {
  text-align: right;
  margin-bottom: 15px;
  small {
    border: 1px solid;
    padding: 2px 10px;
    border-radius: 4px;
    color: var(--current-theme-secondary);
    font-weight: 600;
    font-size: 10px;
  }
}
