@import '../scss/variables';

.search-page-portal-header {
  position: relative;
  color: #fff;
  .hex-col {
    margin: 50px 0 -30px auto;
    position: relative;
  }

  .primary-content,
  .secondary-content {
    font-weight: 300;
    font-size: 24px;
  }
  .primary-content {
    a {
      color: #fff;
    }
  }
  .secondary-content {
    margin: 25px 0 50px;
    display: flex;
    .aggregate-count:first-child {
      margin-right: 60px;
    }
    span {
      font-weight: 600;
    }
  }
}

.search-page-portal-header {
  background-color: var(--current-theme-primary);
  background: linear-gradient(
    16deg,
    var(--current-theme-primary-dark) 0%,
    var(--current-theme-primary) 70%
  );
}

.search-page-coms {
  position: relative;
  background-color: #f3f7f6;
  padding: 20px 0 40px;
  h2 {
    font-size: 19px;
  }
  .primary-content {
    font-weight: 300;
    font-size: 19px;
  }
  .secondary-content {
    font-weight: 300;
    font-size: 15px;
    margin-top: 25px;
    display: flex;
  }
}

.search-hexagon {
  position: relative;
  width: 250px;
  height: 144.34px;
  margin: 72.17px 0;

  background-size: auto 288.6751px;
  background-position: center;

  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 176.78px;
    height: 176.78px;
    overflow: hidden;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 36.61px;

    /*counter transform the bg image on the caps*/
    &:after,
    &:after {
      content: '';
      position: absolute;
      width: 250px;
      height: 144.33756729740645px;
      transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
      transform-origin: 0 0;
      background: inherit;
    }
  }
  .hexTop {
    top: -88.3883px;
    &:after {
      background-position: center top;
    }
  }

  .hexBottom {
    bottom: -88.3883px;

    &:after {
      background-position: center bottom;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 250px;
    height: 144.3376px;
    z-index: 2;
    background: inherit;
  }
}

.search-shade-cube {
  margin: 0;
  position: absolute;
  height: 169px;
  width: 169px;
  transform-style: preserve-3d;
  transform: scale3d(1.05, 1.04, 1.04) rotateX(-36deg) rotateY(-45deg)
    rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
  z-index: 4;
  top: 69px;
  margin-left: 29px;

  > div {
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #000;
    font-weight: bold;
    &.front {
      transform: translateZ(69px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.32);
    }
    &.top {
      transform: rotateX(-270deg) translateY(-100px);
      transform-origin: top center;
    }
    &.right {
      transform: rotateY(-270deg) translateX(100px);
      transform-origin: top right;
      background-color: rgba(0, 0, 0, 0.53);
    }
  }
}

.search {
  padding: 0 0 50px;
}
.search-heading {
  margin: 20px 0;
  h1 {
    margin: 0;
  }
  .go-back {
    font-size: 14px;
  }
}
.search-wrapper {
  display: flex;
}

.search-nav {
  flex: 0 0 auto;
  padding: 0;
  width: 430px;

  .facet-accordion.on-accordion-wrapper {
    padding: 0;
  }

  .search-keyword {
    margin-bottom: 30px;
  }
}

.search-content {
  flex: 1;
  padding: 0 0 0 30px;
  position: relative;
  .search-results {
    border: 1px solid $newspaper;
    border-radius: $border-radius-default;

    .search-result {
      border-bottom: 1px solid $newspaper;
    }
  }
  .load-more {
    .on-button {
      display: block;
      border: 1px solid;
      width: 100%;
      background-color: #fff;
      transition: background-color 0.3s;
      &:hover {
        text-decoration: none;
        background-color: $newspaper;
      }
    }
  }
}

.search-sort {
  display: flex;
  justify-content: flex-end;
}

.results-count {
  padding: 20px 0;

  span {
    color: var(--current-theme-primary);
  }
}

.date-facet .on-radio-wrapper.row .custom-radio {
  margin-right: 0;
  flex-basis: 50%;
}
