@import '../scss/variables';

.dropdown-wrapper {
  display: inline-block;
  .toggle {
    cursor: pointer;
  }
  .menu {
    position: absolute;
    overflow: hidden;
    height: 0;
    z-index: 9999;
    right: 0;
    background-color: #fff;
    &.expanded {
      height: auto;
    }
  }
}
