.datasetEvents{
  .datasetEventHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    padding: 10px;
    &:nth-child(odd){
    background-color: #f4f4f4;
    }
  }
 }
 .addEventForm{
      width: 50%;
      margin: 10px auto 30px;
      text-align: right;
      input{
        min-width: 100%;
        display: block;
      }
      textarea{
          margin: 20px 0 10px;
          min-width: 100%;
          display: block;
          min-height: 100px;
      
      }
 }
}

.dse_meta{
  
  .event_type{
    font-weight: bold;
    margin-right: 10px;
  }
  .event_note{
    margin-right: auto;
  }
}