@import '../../scss/variables';
/* Accordion styles */

.on-accordion-wrapper {
  background-color: #fff;
  position: relative;
  .accordion {
    box-sizing: border-box;
  }
  .accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
  }

  .accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
  }
  .accordion-item.dropdown-style {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    .accordion-content {
      padding: 10px;
    }
  }

  .accordion-title {
    color: $charcoal;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &::after {
      margin-left: 10px;
      font-family: FontAwesome;
      content: '\f078';
    }

    &:hover,
    &.open {
      color: var(--current-theme-primary-hover);
      color: black;
    }

    &.open {
      &::after {
        content: '\f077';
        border-top: 0;
      }
    }

    .file-icon {
      margin-right: 10px;
    }
  }

  .accordion-content {
    padding: 0;
  }
}

.file-tree .accordion-content {
  margin-left: 10px;
}
