apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-dataset-worker
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}-dataset-worker # has to match .spec.template.metadata.labels
  serviceName: {{ .Release.Name }}-dataset-worker
  replicas: {{ .Values.dataladWorkers }}
  volumeClaimTemplates:
    - metadata:
        name: datasets-new
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 10Gi
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-dataset-worker # has to match .spec.selector.matchLabels
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      nodeSelector:
        topology.kubernetes.io/zone: {{ .Values.workerZone }}
      volumes:
      - name: ssh-key
        secret:
          secretName: {{ .Release.Name }}-ssh-key
          items:
          - key: datalad-key
            path: datalad-key
            mode: 0400
      containers:
      - name: {{ .Release.Name }}-dataset-worker
        image: 'openneuro/datalad-service:v{{ .Chart.AppVersion }}'
        command: ["uvicorn", "--host", "0.0.0.0", "--port", "80", "--factory", "datalad_service.app:create_app", "--workers", "12", "--timeout-keep-alive", "30"]
        resources:
          requests:
            cpu: {{ .Values.workerCpuRequests }}
            memory: 4Gi
        readinessProbe:
          periodSeconds: 5
          initialDelaySeconds: 15
          httpGet:
            path: /heartbeat
            port: 80
        livenessProbe:
          periodSeconds: 60
          timeoutSeconds: 20
          httpGet:
            path: /heartbeat
            port: 80
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-configmap
        - secretRef:
            name: {{ .Release.Name }}-secret
        volumeMounts:
        - name: datasets-new
          mountPath: /datasets
        - name: ssh-key
          mountPath: /datalad-key
          subPath: datalad-key
      - name: {{ .Release.Name }}-dataset-taskiq-worker
        image: 'openneuro/datalad-service:v{{ .Chart.AppVersion }}'
        command: ['/srv/.venv/bin/taskiq', 'worker', 'datalad_service.broker:broker', '--tasks-pattern', 'datalad_service/tasks/*.py', '--fs-discover', '--max-async-tasks', '2', '--use-process-pool']
        resources:
          requests:
            cpu: {{ .Values.workerCpuRequests }}
            memory: 18Gi
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-configmap
        - secretRef:
            name: {{ .Release.Name }}-secret
        volumeMounts:
        - name: datasets-new
          mountPath: /datasets
        - name: ssh-key
          mountPath: /datalad-key
          subPath: datalad-key