@import '../../scss/variables';

/* START TOOLTIP STYLES */
[data-tooltip] {
  position: relative;
  display: flex;
  z-index: 1201;
}

/* Applies to all tooltips */
[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none;
  font-size: 0.9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[data-tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1201;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: $charcoal;
  color: #fff;
  z-index: 1000;
}
[data-tooltip].wrap-text::after {
  min-width: 18em;
  max-width: 21em;
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  line-height: 1.3em;
  text-align: center;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow^='up']::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: $charcoal;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^='up']::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^='up']::before,
[data-tooltip][data-flow^='up']::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[data-tooltip][data-flow^='down']::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: $charcoal;
}
[data-tooltip][data-flow^='down']::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow^='down']::before,
[data-tooltip][data-flow^='down']::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[data-tooltip][data-flow^='left']::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: $charcoal;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[data-tooltip][data-flow^='left']::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[data-tooltip][data-flow^='right']::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: $charcoal;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}
[data-tooltip][data-flow^='right']::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

[data-tooltip]:not([data-flow]):hover::before,
[data-tooltip]:not([data-flow]):hover::after,
[data-tooltip][data-flow^='up']:hover::before,
[data-tooltip][data-flow^='up']:hover::after,
[data-tooltip][data-flow^='down']:hover::before,
[data-tooltip][data-flow^='down']:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[data-tooltip][data-flow^='left']:hover::before,
[data-tooltip][data-flow^='left']:hover::after,
[data-tooltip][data-flow^='right']:hover::before,
[data-tooltip][data-flow^='right']:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

@media (max-width: 767px) {
  [data-tooltip]::before,
  [data-tooltip]::after {
    display: none !important;
  }
}
