@import '../scss/variables';

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  display: inline-block;
  appearance: none;
  box-sizing: border-box;
  border-radius: 0;
  border: 0.1rem solid #ddd;
  padding: 12px;
  max-width: 100%;
  &:focus {
    border-color: rgb(76, 104, 230);
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(160, 160, 160);

    opacity: 1; /* Firefox */
  }
}

select {
  border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  appearance: none;
  border-radius: 0;
  cursor: pointer;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control.inline {
  display: flex;
  flex-direction: row;
  label {
    padding: 12px 10px 0 0;
    min-width: 100px;
    text-align: right;
  }
}

.float-form-style.form-control {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;

  label,
  input,
  textarea {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  input,
  textarea {
    border-radius: 0;
    cursor: text;
    z-index: 2;
    background: none;
  }

  label {
    z-index: 1;
  }

  textarea:placeholder-shown,
  input:placeholder-shown {
    + label {
      cursor: text;
      max-width: 66.66%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translate(12px, 36px) scale(1.5);
      font-size: 13px;
    }
  }
  textarea::-webkit-input-placeholder,
  input::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
    &:focus::-webkit-input-placeholder {
      opacity: 1;
    }
  }

  textarea:not(:placeholder-shown),
  textarea:focus,
  input:not(:placeholder-shown),
  input:focus {
    + label {
      transform: translate(0, 0) scale(1);
      font-size: 13px;
      cursor: pointer;
    }
  }
}

.custom-radio {
  [type='radio']:checked,
  [type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type='radio']:checked + label,
  [type='radio']:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }
  [type='radio']:checked + label:before,
  [type='radio']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type='radio']:checked + label:after,
  [type='radio']:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $on-dark-aqua;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type='radio']:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type='radio']:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.on-radio-wrapper {
  &.row {
    display: flex;
    align-items: center;
    .custom-radio {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .custom-radio {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Range
.formRange-inner {
  max-width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //remove this
  height: 300px;
  .range-lable {
    font-size: 14px;
    margin: 20px 0 0;
  }
  .rc-slider-handle,
  .rc-slider-dot-active {
    border-color: $on-light-aqua;
  }

  .rc-slider-track {
    background-color: $on-light-aqua;
  }
}
